﻿@using App.Domain.Common
@using Resources
@model IEnumerable<App.Domain.ContactInformations.ContactInformation>
@{
    ViewBag.Title = FormUI.ContactInformation;
    ViewBag.Toolbar = new[] { "Create", "Edit", "Delete", "Divider", "Reset" };
}
<div class="dataTables_wrapper">
    <div class="table-scrollable">
        <table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content table-hover dataTable ">
            <thead class="flip-content">
                <tr>
                    <th class="text-center"> @FormUI.Title </th>
                    <th class="text-center"> @FormUI.NumberOfStore </th>
                    <th class="text-center"> @FormUI.Email </th>
                    <th class="text-center"> @FormUI.Address </th>
                    <th class="text-center"> @FormUI.Hotline </th>
                    <th class="text-center"> @FormUI.MobilePhone </th>
                    <th class="text-center"> @FormUI.ContactType </th>
                    <th class="text-center"> @FormUI.OrderDisplay </th>
                    <th class="text-center"> @FormUI.Status </th>
                    <th class="text-center">
                        <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.Title</a>
                        </td>
                        <td>@Html.Raw(item.NumberOfStore)</td>
                        <td>@item.Email</td>
                        <td>@item.Address</td>
                        <td>@item.Hotline</td>
                        <td>@item.MobilePhone</td>
                        <td>@Html.Raw(item.Type == (int)TypeAdress.Current ? "Liên hệ chính" : "Liên hệ khác")</td>
                        <td>@item.OrderDisplay</td>
                        <td>@Html.Raw(item.Status == (int)Status.Disable ? "<span class='label label-sm label-warning'>" + FormUI.InActive + "</span>" : "<span class='label label-sm label-success'>" + FormUI.Active + "</span>")</td>
                        <td class="text-center">
                            <input type="checkbox" value="@item.Id">
                        </td>
                    </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="9" valign="top">
                    @MessageUI.EmptyData
                </td>
            </tr>
    }
            </tbody>
        </table>
    </div>
    @{ Html.RenderPartial("_PageLinks"); }
</div>


