﻿<!--GetStaticContentParent---->
@using Resources
@using App.Domain.Menus
@using App.Framework.Utilities

@model App.Domain.StaticContents.StaticContent

@if (Model != null)
{
    <h2 class="page-heading">
        <span class="page-heading-title2">@ViewBag.Title</span>
    </h2>
    if (Model != null)
    {
        <article class="entry-detail">
            <div class="entry-meta-data">
                @Html.Raw(Model.ShortDesc)
            </div>
        </article>
    }


    if (ViewBag.ListItems != null)
    {
        <ul class="row product-list grid filter">
            @foreach (var item in (IEnumerable<MenuLink>)ViewBag.ListItems)
            {
                <li class="col-md-4 col-sm-6 col-xs-12">
                    <div class="product-container">
                        <div class="left-block">
                            <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})" title="@item.MenuName">
                                <img class="img-responsive" alt="@item.MenuName" src="@item.ImageMediumSize.ValidateImage()" />
                            </a>

                        </div>
                        <div class="right-block">
                            <h5 class="product-name">
                                <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})">@item.MenuName</a>
                            </h5>


                        </div>
                    </div>
                </li>
            }
        </ul>
    }
}
else
{
    <div class="container">
        <p class="text-danger">@MessageUI.EmptyData</p>
    </div>
}
<!--/GetStaticContentParent---->
