﻿@using App.Domain.Common
@using Resources
@model App.FakeEntity.User.RoleManagerModel

<div class="form-horizontal">
	<div class="form-body">
		@Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

		<div class="form-group">
			@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "help-block" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-3" })
			<div class="col-md-5">
				@Html.TextBoxFor(model => model.Description, new { @class = "form-control", type = "number" })
				@Html.ValidationMessageFor(model => model.Description, "", new { @class = "help-block" })
			</div>
		</div>
		
	</div>
</div>