﻿@using Resources
@model IEnumerable<App.Domain.Account.Role>
@{
    ViewBag.Title = FormUI.Roles;
    ViewBag.Toolbar = new[] { "Create", "Edit", "Delete", "Divider", "Reset" };
}
<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content table-hover dataTable">
    <thead class="flip-content">
        <tr>
            <th class="text-center"> @FormUI.Roles </th> 
            <th class="text-center"> @FormUI.Description</th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var item in Model)
            {
                <tr> 
                    <td>
                        <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.Name</a>
                    </td> 
                    <td>@item.Description</td>
                    <td class="text-center">
                        <input type="checkbox" value="@item.Id">
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="3" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); } 