﻿@using App.Core.Extensions
<!----SearchSideBar-->

<div class="block left-module">
    <p class="title_block">Danh mục sản phẩm</p>
    <div class="block_content">
        <!-- layered -->
        <div class="layered layered-category">
            <div class="layered-content">
                @{Html.RenderAction("MenuLinkSideBar", "MenuNav", new { area = "", virtualId = ViewBag.VirtualId, proAttrs = ViewBag.ProAttrs });}
            </div>
        </div>
        <!-- ./layered -->
    </div>
</div>
<!-- ./block category  -->

<input type="hidden" id="attribute" />
<input type="hidden" id="proattribute" />
<input type="hidden" id="price" />
<!----/SearchSideBar-->
