﻿@if (ViewBag.BreadCrumb != null)
{
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
}
