﻿@using App.Framework.Utilities

<script type="text/javascript">
    var globalImgPath = '@Url.FakePathAdmin("images/")';
    var globalPluginsPath = '@Url.FakePathAdmin("content/global/plugins/")';
    var globalCssPath =  '@Url.FakePathAdmin("content/global/")';
</script>

<!--[if lt IE 9]>
<script src="@Url.FakePathAdmin("scripts/respond.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/excanvas.min.js")"></script>
<![endif]-->
<script src="@Url.FakePathAdmin("scripts/jquery.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/jquery.cookie.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/bootstrap/bootstrap.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/jquery.blockui.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/uniform/jquery.uniform.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/validation/jquery.validate.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/validation/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/validation/jquery.validate.unobtrusive.bootstrap.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/bootbox/bootbox.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/jquery-notific8/jquery.notific8.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/select2/select2.full.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/bootstrap-fileinput/bootstrap-fileinput.js")"></script>
@*<script src="@Url.FakePathAdmin("scripts/jquery.numberformatter.js")"></script>*@
<script src="@Url.FakePathAdmin("scripts/jquery.print.js")"></script>

<!--resouces key-->
<script src="@Url.Action("ResourceScript","Extentions")"></script>
<script src="@Url.FakePathAdmin("scripts/app.js")"></script>
<script src="@Url.FakePathAdmin("scripts/components-select2.js")"></script>

<script src="@Url.FakePathAdmin("scripts/app.core.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/layout.js")"></script>

<!---custom--->
<script src="@Url.FakePathAdmin("scripts/app.inside.customer.js")"></script>

<script src="@Url.FakePathAdmin("scripts/plugins/ckeditor/ckeditor.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/ckeditor/config.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/uploadfile/jquery.filer.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/custom.uploadfile.normal.js")"></script>

<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/moment.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/daterangepicker.js")"></script>
<script src="@Url.FakePathAdmin("assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")"></script>
<script src="@Url.FakePathAdmin("scripts/plugins/daterangepicker/bootstrap-datepicker.js")"></script>
<script src="@Url.FakePathAdmin("scripts/components-date-time-pickers.js")"></script>

<script src="@Url.FakePathAdmin("assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.FakePathAdmin("assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js")"></script>


<script src="@Url.FakePathAdmin("assets/global/plugins/plupload/js/plupload.full.min.js")"></script>

<!--Bootstrap switch--->
<script src="@Url.FakePathAdmin("assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")"></script>
<script src="@Url.FakePathAdmin("assets/pages/scripts/components-bootstrap-switch.min.js")" type="text/javascript"></script>

@*<script src="@Url.FakePathAdmin("assets/pages/scripts/ecommerce-products-edit.min.js")"></script>*@

@*<script src="@Url.FakePathAdmin("scripts/jquery.unobtrusive-ajax.js")"></script>*@


<script src="@Url.FakePathAdmin("scripts/plugins/bootstrap-fileinput/bootstrap-fileinput.js")"></script>

<!---jquery.filer-->
<script src="@Url.FakePathAdmin("scripts/plugins/uploadfile/jquery.filer.min.js")"></script>

<!---jquery-datatables--->
<script src="@Url.FakePathAdmin("assets/global/scripts/datatable.js")"></script>
<script src="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/bootstrap/dataTables.bootstrap.js")"></script>
<script src="@Url.FakePathAdmin("assets/pages/scripts/table-datatables-buttons.min.js")"></script>
<script src="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/RowReorder/js/dataTables.rowReorder.min.js")"></script>


<script src="@Url.FakePathAdmin("assets/global/plugins/jquery.serializeToJSON/jquery.serializeToJSON.js")"></script>

<script src="@Url.FakePathAdmin("scripts/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js")"></script>

<!---clipboard-->
<script src="@Url.FakePathAdmin("assets/global/plugins/clipboardjs/clipboard.min.js")" type="text/javascript"></script>
<script src="@Url.FakePathAdmin("assets/pages/scripts/components-clipboard.min.js")" type="text/javascript"></script>

<!---Profile-->
