﻿@using App.Framework.Utilities

<link href="@Url.FakePathAdmin("content/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/uniform/css/uniform.default.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/jquery-notific8/jquery.notific8.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/select2/select2.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/select2/select2-bootstrap.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/bootstrap-fileinput/bootstrap-fileinput.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/global/components.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/global/plugins.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/global/layout.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/global/default.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/global/custom.css")" rel="stylesheet" />

<!---jquery-datatables--->
<link href="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/jquery.dataTables.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/bootstrap/dataTables.bootstrap.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/RowReorder/css/rowReorder.dataTables.min.css")" rel="stylesheet" />

<link href="@Url.FakePathAdmin("assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("content/plugins/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" />

<link href="@Url.FakePathAdmin("assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" />


@*<link href="@Url.FakePathAdmin("assets/global/plugins/jquery-datatables/dataTables.bootstrap.css")" rel="stylesheet" />*@

<link href="@Url.FakePathAdmin("content/plugins/uploafile/jquery.filer.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<link href="@Url.FakePathAdmin("assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" />

<!---multi-select-->
@*<link href="@Url.FakePathAdmin("assets/global/plugins/jquery-multi-select/css/multi-select.css")" rel="stylesheet" />*@


<!----jquery.filer-->
 <link href="@Url.FakePathAdmin("content/plugins/uploafile/jquery.filer.css")" rel="stylesheet" />

<link href="@Url.FakePathAdmin("content/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css")" rel="stylesheet" />

