﻿<!----FooterLink-->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>
@if (Model.IsAny())
{
    foreach (var lv1 in Model)
    {
        <div class="foot-list col-md-2">
            <h3>
                <a href="@Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""})"> @lv1.MenuName</a>
            </h3>
            <ul>
                @foreach (var lv2 in lv1.ChildNavMenu)
                {
                    if (!string.IsNullOrEmpty(lv2.OtherLink))
                    {
                        <li><a href="@lv2.OtherLink">@lv2.MenuName</a></li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("GetContent", "Menu", new { menu = lv2.SeoUrl, area = "" })">
                                <i class="fa fa-caret-right"
                                   aria-hidden="true"></i>@lv2.MenuName
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    }
}

<!----/FooterLink-->
