﻿<!---Header--->

<header class="col-md-12 header">
    <div class="row">
        <div id="header" class="col-xs-12">
            <div class="container">
                <div class="header_group">
                    @{
                        Html.RenderAction("GetLogo", "Summary", new { area = "" });
                    }
                    <div class="col-xs-8 col-sm-11 nav-top-right hidden-xs">
                        <div class="row">

                            @{
                                Html.RenderAction("TopHead", "MenuNav", new { area = "" });
                                if (!Request.Browser.IsMobileDevice)
                                {
                                    Html.RenderAction("TopMenu", "MenuNav", new { area = "" });
                                }
                            }

                        </div>
                    </div>
                    @{
                        if (Request.Browser.IsMobileDevice && Request.HttpMethod == "GET")
                        {
                            Html.RenderAction("TopMenuMobile", "MenuNav", new { area = "" });
                        }
                    }


                </div>
            </div>
        </div>
    </div>
</header>



@*<script>

        function ViewPopupCart() {
            jQuery.post('/shoppingcart/GetPopupCart')
                .done(function (data) {
                    jQuery("#top-cart").html(data.list);
                });
        }

        jQuery(document).ready(function () {
            ViewPopupCart();
        });

    </script>*@
<!---/Header--->
