﻿<!----MenuNavLeft--->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.FakeEntity.Menus.MenuNavViewModel>

@if (Model.IsAny())
{
    <div class="row">
        <div id="owlsolution" class="product-list">
            @foreach (var item in Model)
            {
                <div class="nlmt-item product-container" style="margin-right:10px;">
                    <div class="list">
                        <div class="img-nlmt left-block">
                            <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})">
                                <img src="@item.ImageMediumSize.ValidateImage()" alt="@item.MenuName">
                            </a>
                        </div>
                        <div class="right-block">
                            <h5 class="product-name">
                                <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})">@item.MenuName</a>
                            </h5>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
<!----/MenuNavLeft--->