﻿<!---TopHead-->
@using App.Framework.Utilities
@using Microsoft.AspNet.Identity
@model IEnumerable<App.FakeEntity.Menus.MenuNavViewModel>

@if (Model != null)
{
    <div class="col-xs-9 col-sm-12 nav_top-right1">
        <ul class="nav-top-top">
            @{
                var i = 0;
                foreach (var lv1 in Model)
                {
                    <li>
                        <a data-id="@lv1.MenuId" class="@(i==0?"first-item":"")" href="@(string.IsNullOrEmpty(lv1.OtherLink)? Url.Action("GetContent", "Menu", new { menu = lv1.SeoUrl, area = "" }): lv1.OtherLink)">                            
                            @lv1.MenuName
                        </a>

                    </li>

                }
            }

        </ul>
    </div>
}

<!---End TopHead-->