﻿<!----TopMenu ---->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>

<div class="col-xs-11 col-sm-12 nav_top-right2">
    <ul class="nav-top-top1 ">
        <li class='active'>
            <a href="/">
                <i class="fa fa-home"
                   aria-hidden="true"></i>
            </a>
        </li>
        @{
            var i = 0;
            foreach (var lv1 in Model)
            {
                <li class=" @(i == 0 ? "active" : "") @(lv1.ChildNavMenu.IsAny() ? "drop-menu" : "")">
                    <a href="@(lv1.OtherLink = lv1.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""}))" title="@lv1.MenuName">
                        @lv1.MenuName
                    </a>
                    @if (lv1.ChildNavMenu.IsAny())
                    {
                        <ul class="sub-menu1">
                            @foreach (var lv2 in lv1.ChildNavMenu)
                            {
                                <li>
                                    <img src="/assets/templates/pictures/categories/1507191601_icon-07.png">
                                    <a href="@(lv2.OtherLink = lv2.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv2.SeoUrl, area = ""}))" title="@lv2.MenuName">
                                        @lv2.MenuName
                                    </a>
                                </li>
                            }
                        </ul>
                    }

                </li>
                i++;
            }

        }
    </ul>
</div>

<!----/TopMenu ---->
