﻿<!---TopMenu.Mobile-->
@using App.Core.Extensions
@using App.FakeEntity.Menus
@model IEnumerable<MenuNavViewModel>


<span class="menutoggle"><i class="fa fa-fw fa-bars"></i></span>
<div class="mobilemenu">
    <ul>
        <li class="searchmobi">
            <div class="searchbox">
                <input type="text" id="searchtextmobi" placeholder="Tìm kiếm">
                <span id="searchmobisubmit"><i class="fa fa-fw fa-search"></i></span>
            </div>
        </li>
        <li class="langmombi">
            <span>
                <a href="indexe034.html?lang=vi">
                    <img src="/assets/templates/skins/images/vi.png"
                         alt="Vietnam">
                </a>
            </span>
            <span>
                <a href="index9ed2.html?lang=en">
                    <img src="/assets/templates/skins/images/en32.png"
                         alt="Eng">
                </a>
            </span>
        </li>

        <li><a href="index.html">Home</a></li>

        @{
            var i = 0;
            foreach (var lv1 in Model)
            {
                <li class=" @(i == 0 ? "active" : "") @(lv1.ChildNavMenu.IsAny() ? "drop-menu" : "")">
                    <a href="@(lv1.OtherLink = lv1.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv1.SeoUrl, area = ""}))" title="@lv1.MenuName">
                        @lv1.MenuName
                    </a>
                    @if (lv1.ChildNavMenu.IsAny())
                    {
                        <span class="arrow"><i class="fa fa-fw fa-caret-down"></i></span>
                        <ul class="submenu">
                            @foreach (var lv2 in lv1.ChildNavMenu)
                            {
                                <li>
                                    <a href="@(lv2.OtherLink = lv2.OtherLink ?? Url.Action("GetContent", "Menu", new {menu = lv2.SeoUrl, area = ""}))" title="@lv2.MenuName">
                                        @lv2.MenuName
                                    </a>
                                </li>
                            }
                        </ul>
                    }

                </li>
            }
        }
    </ul>
</div>

<!---/TopMenu.Mobile-->