﻿.goweb-block .discount {
  font-size: 11px;
  color: #f36; }

.goweb-block .product-price {
  font-size: 12px;
  color: #000;
  font-weight: bold; }

.goweb-block .product-star {
  color: #ff9900; }

.product-list .price-percent {
  width: 52px;
  height: 44px;
  background: url(/Themes/Basic/Content/images/price-percent.png) no-repeat center center;
  color: #fff;
  line-height: normal;
  text-align: center;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 0;
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding-left: 5px;
  padding-top: 2px; }

.post-detail__social {
  float: left; }

.post-detail .store-intro {
  overflow: hidden; }

.post-detail .product-info-detailed .nav-tab > li {
  height: 50px;
  line-height: 50px;
  float: left;
  display: inline;
  background: #e2e2e2;
  border: 1px solid #e2e2e2;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-right: 8px;
  font-weight: bold; }

.post-detail .product-info-detailed .nav-tab > li > a {
  display: block;
  line-height: 46px;
  padding: 0 25px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  background-color: #e2e2e2; }

.post-detail .product-info-detailed .nav-tab > li .active > a {
  background-color: #fff;
  margin-bottom: -1px;
  border: 1px solid #eeeeee;
  border-bottom: none;
  z-index: 100; }

.post-detail .store-info__testimonial {
  line-height: 25px;
  text-align: center; }

.post-detail .store-info .button-group {
  margin-top: 15px;
  overflow: hidden; }
  .post-detail .store-info .button-group i {
    font-size: 18px;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0% 0%;
    border-radius: 90%; }
  .post-detail .store-info .button-group__item {
    min-width: 50px;
    padding-right: 15px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 30px; }

.post-detail .store-info .phone {
  font-size: 20px;
  font-weight: bold; }
