﻿
.top-header {

    .nav-top-links a[data-id='2144'] {
        background: $color_radical_red_approx;
        padding: 6px 14px;
        border-radius: 5px;
        color: #fff;

        img {
            display: none;
        }
    }
}
