﻿
//fonts
$font_0: Open Sans;
$font_1: sans-serif;

//colors
$color_storm_dust_approx: #667;
$white: white;
$color_dove_gray_approx: #696969;
$color_black_marlin_approx: #3c2819;
$color_clay_creek_approx: #42ac3d;
$color_radical_red_approx: #42ac3d;
$color_mountain_mist_approx: #999;
$text-color: #667;
$primary-color-1: #ab6767;
//----------------------------
$btn-blue-bg: #00b6f0;
$btn-blue-bg-focus: #286f94;
$btn-blue-color-focus: #fff;
$color_gray_nurse_approx: #eaeaea;
$white: #fff;

$color_bon_jour_approx: #e0e0e0;

//urls
$url_0: url(../images/fb.jpg);
$url_1: url(Preloader_48e0e.gif?v=8);
$theme-basic-path: "Themes/Basic";
$url_bx_loader: url(bx_loader8e0e.gif?v=8);