﻿@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.News.News>
@if (Model.IsAny())
{
    <div class="single-box">
        <h2>Tin liên quan</h2>
        <ul class="gw-news-relative related-posts owl-carousel">
            @foreach (var item in Model)
            {
                <li class="post-item">
                    <article class="entry">
                        <div class="entry-thumb image-hover2">
                            <a href="@Url.Action("NewsDetail", "News", new {seoUrl = item.SeoUrl, area = ""})">
                                <img src="@item.ImageMediumSize.ValidateImage()" alt="@item.Title" />
                            </a>
                        </div>
                        <div class="entry-ci">
                            <h3 class="entry-title">
                                <a href="@Url.Action("NewsDetail", "News", new {seoUrl = item.SeoUrl, area = ""})">
                                    @item.Title
                                </a>
                            </h3>
                            <div class="entry-meta-data">
                                <span class="date">
                                    <i class="fa fa-calendar"></i> @item.CreatedDate.ToString("dd/MM/yyyy")
                                </span>
                            </div>

                        </div>
                    </article>
                </li>
            }
           
        </ul>
    </div>
}
