﻿<!---NewsHome--->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.News.News>

@if (Model.IsAny())
{
    <section id="cus-talk">
        <div class="wrap-datb-home">
            <h2 class="title_home">Cảm nhận khách hàng</h2>
            <div class="wrap-list-customer row">
                <div id="owl-khabout" class="owl-carousel owl-theme">
                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class=" cus-item">
                                <div class="ideal-cus">
                                    <div class="carret-bot">
                                        <img src="http://www.datsolar.com/templates/skins/images/ar-down.png">
                                    </div>
                                    <div>
                                        @Html.Raw(item.ShortDesc)
                                    </div>
                                </div>
                                <div class="col-sm-12 cus-info">
                                    `
                                    <div class="img-cus">
                                        <img src="@item.ImageMediumSize.ValidateImage()" alt='@item.Title'>
                                    </div>
                                    <div class="info-cus">
                                        <a href="@Url.Action("NewsDetail", "News", new {seoUrl = item.SeoUrl, area = ""})" title="@item.Title">
                                            @*<p class="name-cus">Anh Nguyễn Đăng Tuấn</p>*@
                                        </a>
                                        <p class="place-cus">@item.Title</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
}

<!---/NewsHome--->