
.clear{clear:both;}


<!-------------------------------------- CSS MODULE CONTENT ------------------------------------>
.content_body
{
	padding:0px 0px;
	
}
.content_body p
{
	padding:0px;
	margin:0px;
}
.content_back
{
	width:100%;
	text-align:right
}
.content_back a
{
	color:#3C1904;
}
.content_back a:hover
{
	text-decoration:underline
}
.content_body_type
{
	border-bottom:1px dashed #CCC;
	padding:10px 10px;
}
.content_body_type_title a
{
	color:#000;
	font-weight:bold
}
.content_body_type_detail
{
	text-align:right;
	width:100%
}
.content_body_type_detail a
{
	color:#000;
}




<!--------------------------------------------- PHAN TRANG ----------------------------------------->
.pagination {
	margin: 10px 0 0 0;
	padding: 10px;
	height: 1%;
	clear: both;
	overflow: hidden;
	
}
.pagination ul.pager {
	margin: 10px;
	padding: 0;
	text-align: right;
	float:right;
	clear:both;
	padding-right:0px;
}
.pagination ul.pager li {
	display:inline;
	list-style: none;
	background: #FFFFFF;
	border: 1px solid #ADADAD;
	color: #4A4A4A;
	padding: 3px 0px;
}
.pagination ul.pager li.separator {
	padding: 5px;
}
.pagination ul.pager li a.current {
	background: #356AA0;	
	color: #FFFFFF;border-radius: 0
}
.pagination ul.pager li.disabled {
	padding: 5px;
	background: #FFFFFF;
	border: 1px solid #ADADAD;
	color: #ADADAD;
}
.pagination ul.pager li a {
	margin: 0;
	padding: 3px 5px;
	height: 1%;
	display: inline;
	color: #4A4A4A;
}
.pagination ul.pager li a:hover, #content #right div.pagination ul.pager li a:active {
	border-radius: 0;
	background: #356AA0;
	color: #FFFFFF;
}


.new_detail{
	width:100%;
	float:left;
	color:#000;
}
.new_detail .title_detail_new{
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    font-family: robotoregular;
    color: #f38020;
}
.new_detail .date_detail
{
	color:#666;
	font-size:11px
}
.new_detail .body_detail
{
	font-size: 16px;
	padding-top:10px;
	padding-bottom:10px;
	float:left;
	width:100%;
	text-align: justify;
}
.new_other
{
	width:100%;
	
	padding-top:10px;
	float:left;
	margin-top:10px;
}
.new_other a
{
	color:#333
}
.new_other a:hover
{
	color:#666;
	text-decoration:underline
}

.new_other .title_new_orther
{
    width: 100%;
    font-size: 18px;
    color: #f38020;
    font-family: robotoregular;
}



.item_new_other
{
	float:left;
	padding-left: 17px;
	padding-top:10px
}
.item_new_other ul
{
	margin: 0;
	padding: 0;
	padding-left: 17px;
} 
.item_new_other ul li{
	list-style: none;
	padding-left:10px;
	margin-bottom: 5px;
	color: #10715B;
	background:url(../images/sprite-2.gif) 0px -288px  no-repeat;
}
.date_new_other
{
	color:#999;
	font-size:11px;
	padding-left:10px;
}

.social_item li
{
	display:inline
}
.button_open_comment img{
	border:none;
}

.detail_product
{
	*background-image:url(/images/chitiet1.png); 
	/* width:55px; height:27px; text-align:center; line-height:25px; color:#666; font-weight:bold; */
	
	
	float: left;
	padding: 5px 20px;
	background: #ef4e51;
	color: white;
	margin-top: 10px;
	font-family: 'RobotoLight';
	font-size: 14px;
}

/*----------------------------------CHI TIET SAN PHAM-------------------------------------------*/
.form_comment tr, td {
	margin: 0px;
	padding: 3px;
	vertical-align:top;
	border-collapse: collapse;
}
.product_info {
	margin:0px;
	padding:10px 0 10px 0;
}
.product_info_title {
	font-weight:bold;
	width:100px;
}
.product_detail {
	padding:10px 0 10px 5px;
	width:100%;
}
.product_pic {
	width:200px;
}
.product_pic img {

	padding:1px;
	border:#dddddd solid 1px;
}
.btn_detail
{
	background-image:url(../images/chitiet1.png); width:55px; height:27px; text-align:center; line-height:25px; color:#666; font-weight:bold;
}


/*----------------------------------- CAC NUT BUTTON -----------------------------------------------*/
.btn_add_cart {
	float:left;
	padding:5px 10px 0 5px;
	cursor:pointer
}


.btn_buy {
	padding:0 0 0 5px;
}
/*--------------------------------- TAGS ------------------------------------*/
.divTag {
	width:100%;
	overflow:hidden;
	float:left;
	background:#ffffff;
	margin:10px 0px 15px 0;
}
.tagLeft,.tagRight{
	width:1%;
	height:33px;
	margin:3px 0px 0px;
	float:left;
}
.tagLeft{
	background:#f7f7f7 url(../images/tagLeft.gif) no-repeat 0px 0px;
}
.tagRight{
	background:#f7f7f7 url(../images/tagRight.gif) no-repeat 0px 0px;
}
.tagMid{
	width:98%;
	background:#f7f7f7 url(../images/tagMid.gif) repeat-x 0px 0px;
	margin:3px 0px 0px;
	float:left;
}
.tag{
	width:37px;
	height:33px;
	position:relative;
	top:-3px;
	background:url(../images/tag.gif) no-repeat 0px 0px;
	margin:0px 15px 0px 0px;
	float:left;
}
.wordTag{
	/*width:520px;*/
	float:left;
	overflow:hidden;
	padding:8px 0px 0px;
	font:12px arial;
	color:#6f6f6f;
}
.wordTag a{
	font:12px arial;
	color:#6f6f6f;
}
.wordTag a:hover,.aRelate:hover{color:#333333}

/*--------------------------------- MANG XA HOI ------------------------------------*/
.face {
	width:460px;
	
}

/*------------------------------------COMMENT LIST----------------------------------------------*/
.comment_list{
	margin:0;
	padding:0 0 0 5px;
}
.comment-item {
	clear: both;
	margin-bottom: 15px;
	position: relative;
}
.comment-item p {
	margin-left: 70px;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	position: relative;
}
.comment-item p span {
	display: block;
	font-size: 12px;
	margin-top: 5px;
	padding-top: 5px;
}
.comment-content {
	border-top: 1px solid #dfdfdf;
}
	span.comment-time {
		color: #888888;
		padding: 10px 0;
		position: absolute;
		right: 20px;
		top: 0px;
	}
	.comment-item span.dialog {
		width: 10px;
		height: 20px;
		position: absolute;
		top: 0px;
		left: -9px;
		background-position:  -36px -632px;
	}
	.drop-box span.dialog {
		width: 25px;
		height: 10px;
		position: absolute;
		bottom: -9px;
		left: 58px;
		background-position:  -14px -629px;
	}
	.nonchange, .nonchange span {
		display: inline!important;
		margin: 0;
		padding: 0;
	}

/*------------------------------------FORM LIEN HE----------------------------------------------*/
.contact input[type="text"] { 
	color: #000;
	padding:0px 5px;
}
.contact input[type="button"] , .contact input[type="submit"],
.contact input[type="reset"]
{
	background:#dfdfdf url(../images/bg_btn.gif) repeat-x 0;
	border:#acacac solid 1px;
	color:#000;	
	cursor:pointer;	
	margin:10px 5px 0 0px;
	padding:5px 10px;
}
.info-in input {
    border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 25px;
    padding: 0px 10px;
    width: 100%;margin-bottom: 15px
}
.contact input[type="button"]:hover ,
.contact input[type="submit"]:hover,
.contact input[type="reset"]:hover
{
	background:#766d5e url(../images/bg_btn_hover.gif) repeat-x 0 0;	
}
.contact textarea {  }
.capcha
{
	background: url("../images/bg_title.jpg") repeat-y ;
	height:25px;
	width:100px;
	font-size:16px;
	letter-spacing:10px;
	text-align:center
}
.capcha1 {
    color: #f38020;
    background: white;
    border: 1px solid #ccc;
    width: 75px;
    text-align: center;
    border-radius: 5px;
}
.scroll
{
	overflow: auto;

	width:520px;
	margin-top:10px;
	margin-bottom:10px
	
}
.list_comments tr td
{
	padding:0px;
}
.list_comments label { width: 10em; }
label.error { width:230px !important;  clear:both; color: red; font-weight:normal !important; padding-left: .5em; vertical-align: top;  display:block !important; margin-left:60px; }
p { }
.submit { margin-left: 12em; }
/*em { font-weight: bold; padding-right: 1em; vertical-align: top; }*/

.dot_red
{
	color:red;
}



.tbl_order
{
	width: 100%;
	margin:10px auto;
	padding:8px 0px 6px 0px;
	border-collapse:collapse;
	border: 1px solid #d6d6d6;
	font-family: 'RobotoLight';
	font-size: 14px;
}

.tbl_order thead{
	background: #ef4e51;
	border: 1px solid #ef4e51;
	color: white;
	text-transform: uppercase;
}

.tbl_order th{
	padding: 5px 0px 5px 20px;
	font-weight: normal;
}

.tbl_order td{
	*padding:5px;
	*border: 1px solid #C8C8C8;
	padding: 5px 0px 5px 20px;
}

.tbl_order tr{
	border-bottom: 1px solid #d6d6d6;
}

.tbl_order tbody{
	border-bottom: 1px solid #d6d6d6;
}

.tbl_order .tbl_button
{/* 
	padding:5px;
	background-color:#E6E6E6;
	
	border-radius:5px;
	-moz-border-radius:5px; /* Firefox 3.6 and earlier 
	behavior:url('../css/css3.htc'); */
	border: 0px;
	
	float: left;
	padding: 5px 20px;
	background: #ef4e51;
	color: white;
	margin-top: 10px;
	font-family: 'RobotoLight';
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}

.tbl_order .tbl_button:hover{
	background: black;
	color: white;
}

.tbl_order .tongtien
{
	color:#000;
}
.tbl_order .capcha
{
	background: url("../images/bg_title.jpg") repeat-y ;
	height:25px;
	width:100px;
	font-size:16px;
	letter-spacing:10px;
	text-align:center
}
.tbl_order .dot_red
{
	color:#F00
}
.tbl_order input[type='text']
{
	padding:3px 5px;
}
.textbox
{
	padding:3px 5px;
}
.tbl_order2
{
	width:100%;
	margin:10px auto;
	padding:8px 0px 6px 0px;
	border:1px solid #C8C8C8;
}
.tbl_order2 td
{
	padding:5px;
	vertical-align:top
}
.tbl_order2 th
{
	padding:5px;
	vertical-align:middle;
	text-align:right;
	width:150px
}
.tbl_order2 .info_order
{
	padding: 8px;
	background: #EDEDED url("../images/content_box_title.png") repeat-x;
	border: 1px solid #C8C8C8;
	font-weight:bold;
	color: #242424;
	text-align:left;
	width:100%
}
.info_order
{
	padding: 8px;
	background: #EDEDED url("../images/content_box_title.png") repeat-x;
	border: 1px solid #C8C8C8;
	font-weight:bold;
	color: #242424;
	text-align:left;
	width:100%
}
.tbl_order2 .tbl_button
{
	float: left;
	padding: 5px 20px;
	background: #ef4e51;
	color: white;
	margin-top: 10px;
	font-family: 'RobotoLight';
	font-size: 14px;
}

.answer_body
{
	width:100%;
	float:left;
}
.question_body
{
	width:100%;
	float:left;
	font-weight:
	bold;
	font-size:13px;
}
.home_item ul {
border: 1px solid #CCC;
padding: 0px;
margin: 0pt 0pt 10pt 10px;
float: left;
width: 200px;

overflow: hidden;
}
.home_item ul .title-news {
height: 20px;
padding:5px;
background: url(../images/ccat.png) left center repeat-x
float: left;
width: 99%;
text-align: center;
}
.home_item iframe
{
width: 200px;
height:190px;
}
.title-news a {
color: #0BBFDE;
font-weight: bold;
}
/*-------------------QUESTION----------------------*/



/*-------------------COMMENT FACEBOOK---------------------*/
.cm_facebook
{
	margin-top:10px;
}

.left{float: left;}
.right{float: right;}
.contact{display: block;padding:10px;}
.bg_shd{box-shadow: inset 0px 0px 15px 6px #f0f0f0;background: #FFF;border: 1px solid #FFF;}
.contact_l{display: block;width: 50%;}
.contact_r{display: block;width: 50%;height: 342px;border-radius: 5px;overflow: hidden;margin-top: -8px;}
.contact_l .address{height: auto;display: block;background: url(../images/ic_lh.png) no-repeat scroll 2px 3px;color: #000000;padding-left: 54px;font-size: 14px;font-family: robotolight,arial;min-height: 45px;}
.contact_l .address b{font-size: 18px;color: #ed1c24;text-transform: uppercase;display: block;font-family: robotoregular;}
.contact_first{min-height: 40px;}
.contact_l input{width: 93%;height: 41px;border: 1px solid #FFF;padding-left: 10px;font-family: robotolight, arial;font-size: 14px;color: #000;margin: 0;display: block;}

.contact_l form{margin-top: 10px;}
.contact_l form div.divinput{float: left;margin-right: 8px;margin-bottom: 7px;display: block;width: 49%;}
.contact_l form div.divinput:nth-child(2n){margin-right: 0;}
.contact_l form textarea{width: 97%;
height: 91px;
display: block;
margin: 0;text-transform: uppercase;font-family: robotolight,arial;font-size: 14px;color: #000;
padding: 10px 6px;}
.contact_l .bnt_send, .contact_l .btn_reset{width: 72px;height: 56px;line-height: 56px;color: #FFF;background: #01b75c;text-transform: uppercase;font-family: robotolight,arial;font-size: 18px;
border: none;cursor: pointer;margin-top: 16px;}
.contact_l .bnt_send:hover, .contact_l .btn_reset:hover{opacity: 0.85;}
.contact_l .btn_reset{border-radius: 14px 0px 14px 0px;}
.contact_l .bnt_send{border-radius: 0px 14px 0 14px;margin-right: 5px;}

#box_comment a{
	color: #004f8b!important;
}
#box_comment a:hover{
	text-decoration:underline;
}
#box_comment .title_show {
color: #333;
background: #eee;
position: relative;
height: 26px;
width: 100%;
float: left;
}
#box_comment .title_show .ykien_vne {
font: 400 14px/26px arial;
color: #9d234c;
padding: 0 0 0 10px;
}
#box_comment .comment_item {
padding: 10px 1% 10px 1%;
float:left;
width:98%;
}
.width_common {
width: 100%;
float: left;
}
#box_comment .comment_item p {
padding-bottom: 2px;
line-height: 18px;
font-size: 13px;
}
#box_comment .comment_item .user_status {
padding: 5px 0 0;
}
#box_comment .sub_comment {
    float: right;
    width: 97%;
    padding: 5px 0 0;
}
#box_comment .comment_item .user_status .left.txt_11 {
font-size: 12px;
padding: 5px 0 0;
}
#box_comment .comment_item .user_status .block_like_web {
padding: 5px 0 0;
position: relative;
}

.icon_portal {
display: inline-block;
background: url(../images/icon_portal.gif) no-repeat;
background-position: -545px 1px;
height: 14px;
width: 13px;
}
.icon_del {
display: inline-block;
background: url(../images/icon_portal.gif) no-repeat;
background-position: -975px 1px;
height: 14px;
width: 13px;
}
.icon_edit {
display: inline-block;
background: url(../images/icon_portal.gif) no-repeat;
background-position: -465px 1px;
height: 14px;
width: 13px;
}
#box_comment .hight_light {
background: #eee;
}
#box_comment b{color: #004f8b!important;}
#box_comment .subcomment_item {
    padding: 5px;
    margin-bottom: 5px;
    /* border-top: 1px dotted #e2e2e3; */
    background: #f2f2f2;
}

.block_input_comment {
*border-top: 1px solid #dedede;
}
.input_comment {
padding: 10px;

position: relative;
z-index: 2;
margin: 1px 0 0;
}
.block_input_comment .input_comment textarea {
font: 400 12px/18px arial;
background: #fff;
border: 1px solid #ccc;
border-bottom: none;
/* border: none; */
width: 100%;
color: #666;
overflow: hidden;
padding: 5px 0 0 1%;
float: right;
height: 50px;
}
.block_input_comment .btn_send_comment {
    background: #f6921e;
    padding: 7px 17px;
    font: 700 12px arial;
    color: #fff;
    border: none;
    cursor: pointer;
    float: right;
    /* margin: 10px 0 0; */
    border-radius: 5px;
}
#comment_reply_wrapper {
border: none;
padding: 0 0 5px;
}
#box_comment .sub_comment .input_comment {
padding: 0 0 10px;
background: none;
margin-bottom: 10px;
border-bottom: 1px dotted #e2e2e3;
}
#box_comment .css_input{   
	 height: 5%;
    margin-right: 2%;
    padding-left: 1%;
    width: 20%;
    font-size: 12px;
        border: #ccc 1px solid;
	}

.cm-input {
    border: 1px solid #ccc;
    padding: 5px;
}
i.kh-r:hover,
i.kh-l:hover {
    color: #f38020;
}
i.kh-l {
    position: absolute;
    top: 65%;
    left: -3%;
    font-size: 45px;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}
i.kh-r {
    position: absolute;
    top: 65%;
    right: -3%;
    font-size: 45px;
    color: #ccc;
    transition: all 0.3s ease-in-out;
}