﻿<!----Services-->
@using App.Framework.Utilities
@model IEnumerable<App.Domain.StaticContents.StaticContent>
@if (Model != null)
{
	<div class="services2">
		<ul>
			@foreach (var item in Model)
			{
				<li class="col-xs-12 col-sm-6 col-md-4 services2-item">
					<div class="service-wapper">
						<div class="row">
							<div class="col-sm-6 image">
								<div class="icon">
									<img src="@item.ImagePath.ValidateImage()" alt="@item.Title"/>
								</div>
								<h3 class="title"><a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})">@Html.Raw(item.Title)</a></h3>
							</div>
							<div class="col-sm-6 text">
								@Html.Raw(item.ShortDesc)
							</div>
						</div>
					</div>
				</li>
			}
		</ul>
	</div>
}
<!----/ Services-->
