﻿ <!---_Footer.Logo--->
@using App.Framework.Utilities
@model App.Domain.Systems.SystemSetting

@if (Model != null)
{
    <div class="col-sm-4">
        <h3>
                                @Model.Title
                            </h3>
        <a href='@Url.Action("Index", "Home", new { area = "" })'>
            <img src="@Model.LogoFooterImage.ValidateImage()" alt="@Model.Title" />
        </a>
    </div>
}
<!---/_Footer.Logo--->