﻿<!---_Footer.Address-->
@model IEnumerable<App.Domain.ContactInformations.ContactInformation>

@if (Model != null)
{
    var contact = Model.SingleOrDefault(x => x.Type == 1);


    <div class="col-sm-4">
        <div>
            <strong>@contact.Title</strong>
        </div>
        @if (!string.IsNullOrEmpty(contact.Address))
        {
            <div>
                @T("Address.Lable"): @contact.Address
            </div>
        }
        @if (!string.IsNullOrEmpty(contact.MobilePhone))
        {
            <div>
                @T("DienThoai.Lable"): @contact.MobilePhone
            </div>
        }
        @if (!string.IsNullOrEmpty(contact.Email))
        {
            <div>
                @T("Email.Lable"): @contact.Email
            </div>
        }
    </div>
    <div class="col-sm-4">
        @foreach (var item in Model.Where(x => x.Type == 0))
        {
            if (!string.IsNullOrEmpty(item.Title))
            {
                <div>
                    <strong>@item.Title</strong>
                </div>
            }
            if (!string.IsNullOrEmpty(item.Address))
            {
                <div>
                    @T("Address.Lable"): @item.Address
                </div>
            }
            if (!string.IsNullOrEmpty(item.MobilePhone))
            {
                <div>@T("DienThoai.Lable"): @item.MobilePhone</div>
            }
            if (!string.IsNullOrEmpty(item.Email))
            {
                <div>Email: @item.Email</div>
            }
        }

    </div>

}
<!---/_Footer.Address-->