﻿<!---Footer--->
@model App.Domain.ContactInformations.ContactInformation

@if (Model != null)
{
    <footer>
        <div class="container">

            <div class="col-sm-12 footer-left">
                <div class="row">

                    @{Html.RenderAction("FooterLink", "MenuNav", new { area = "" });}

                    <div class="foot-list social col-md-2">
                        <ul>
                            <li>
                                @{Html.RenderPartial("Socials/_Social.FB_Link");}
                            </li>
                            <li>
                                @{Html.RenderPartial("Socials/_Social.Youtube_Link");}
                            </li>
                            <li>
                                @{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 footer-right">
                <div class="row connect">
                    <div class="infocom col-md-12">
                        <div class="foot-bot row">
                            

                            <div class="row">
                                <div id="divFooterLogo"></div>
                                <div id="divFooterAddress"></div>
                            </div>


                            <br />

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </footer>

    <script>
    jQuery(function () {

        jQuery.post('@Url.Action("GetFooterAddress", "Summary")')
          .done(function (data) {
              jQuery("#divFooterAddress").replaceWith(data.list);
          });

        jQuery.post('@Url.Action("GetFooterLogo", "Summary")')
               .done(function (data) {
                   jQuery("#divFooterLogo").replaceWith(data.list);
               });

        @*jQuery.post('@Url.Action("PaymentMethodFooter", "PaymentMethod")')
            .done(function (data) {
                jQuery("#divPaymentMethodFooter").replaceWith(data.list);
            });*@
    })

    </script>
}
<!---/GetInformationFooter--->
