﻿ <!---GetLogo--->
@using App.Framework.Utilities
@model App.Domain.Systems.SystemSetting

@if (Model != null)
{
    <div id="logo" class="col-sm-1 col-xs-4">
        <a href="@Url.Action("Index", "Home", new { area = "" })" title='@Model.Title'>
            <img alt="@Model.Title" src="@Model.LogoImage.ValidateImage()" />
        </a>
    </div>

    @*<a href="@Url.Action("Index", "Home", new { area = "" })" title='@Model.Title'>
            <img alt="@Model.Title" src="@Model.LogoImage.ValidateImage()" />
        </a>
        <h1 style="display: none;">
            kute-shop
        </h1>*@
}
<!---/GetLogo--->