﻿<!---Login store-->
@using App.Framework.UI.Extensions
@model App.FakeEntity.User.RegisterFormViewModel

@{
    ViewBag.Title = "Đăng nhập bán hàng";
}

<div class="columns-container login">
    <div class="container login-shop" id="columns">
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewBag.Title</span>
        </h2>
        <div class="row">
            <div class="col-sm-6">

                <div class="box-authentication box-wishlist">
                    @using (Html.BeginForm("Login", "Store", FormMethod.Post, new { ReturnUrl = "/admin/post", enctype = "multipart/form-data" , @class = "form-horizontal"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

                        <div class="form-group">
                            @Html.LabelFor(mode => mode.UserName)
                            @Html.TextBoxFor(mode => mode.UserName, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.UserName) })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "has-error" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(mode => mode.Password)
                            @Html.TextBoxFor(mode => mode.Password, new { type = "password", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Password) })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "has-error" })
                        </div>

                        <div class="login__forgot-pass">
                            <a href="@Url.Action("ForgotPassword","Store")" onclick="showRecoverPasswordForm();return false;">Quên mật khẩu?</a>
                            hoặc
                            <a href="@Url.Action("RegistrationSaler", "Store", new {area = ""})" title="Đăng ký">Đăng ký</a>
                        </div>

                        <button name="checkout" class="button button-3d  fright" type="submit">
                            Đăng nhập
                        </button>
                    }
                </div>

            </div>

        </div>

    </div>
</div>

<!---/Login store-->
