﻿<!---RegistrationSaler-->
@using App.Framework.UI.Extensions
@model App.FakeEntity.Stores.RegistrationStore

@{
    ViewBag.Title = "Đăng ký bán hàng";
}

<div class="columns-container">
    <div class="container reg-shop" id="columns">
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewBag.Title</span>
        </h2>
        <div class="row">
            @using (Html.BeginForm("RegistrationSaler", "Store", FormMethod.Post, new { enctype = "multipart/form-data", id = "formRegSaler", @class = "horizontal-form" }))
            {
                var saler = Model.Saler;
                var store = Model.Store;

                <div class="col-sm-6">
                    <div class="box-authentication">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(mode => saler.UserName)
                            @Html.TextBoxFor(mode => saler.UserName, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => saler.UserName) })
                            @Html.ValidationMessageFor(model => saler.UserName, "", new { @class = "has-error" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(mode => saler.Email)
                            @Html.TextBoxFor(mode => saler.Email, new { type = "email", required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.Email) })
                            @Html.ValidationMessageFor(model => saler.Email, "", new { @class = "has-error" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(mode => saler.Password)
                            @Html.TextBoxFor(mode => saler.Password, new { type = "password", required = true, @class = "password form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.Password) })
                            @Html.ValidationMessageFor(model => saler.Password, "", new { @class = "has-error" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(mode => saler.ConfirmPassword)
                            @Html.TextBoxFor(mode => saler.ConfirmPassword, new { type = "password", required = true, @class = "password form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.ConfirmPassword) })
                            @Html.ValidationMessageFor(model => saler.ConfirmPassword, "", new { @class = "has-error" })
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="box-authentication">
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(mode => saler.LastName)
                                    @Html.TextBoxFor(mode => saler.LastName, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.LastName) })
                                    @Html.ValidationMessageFor(model => saler.LastName, "", new { @class = "has-error" })
                                </div>
                            </div>
                            <div class="col-sm-6 form-group">
                                @Html.LabelFor(mode => saler.FirstName)
                                @Html.TextBoxFor(mode => saler.FirstName, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.FirstName) })
                                @Html.ValidationMessageFor(model => saler.FirstName, "", new { @class = "has-error" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(mode => saler.Phone)
                            @Html.TextBoxFor(mode => saler.Phone, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.Phone) })
                            @Html.ValidationMessageFor(model => saler.Phone, "", new { @class = "has-error" })
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(mode => saler.Address)
                            @Html.TextBoxFor(mode => saler.Address, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => saler.Address) })
                            @Html.ValidationMessageFor(model => saler.Address, "", new { @class = "has-error" })
                        </div>

                        <div class="form-group hidden">
                            @Html.LabelFor(mode => store.Name)
                            @Html.TextBoxFor(mode => store.Name, new { required = true, @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(model => store.Name) })
                            @Html.ValidationMessageFor(model => store.Name, "", new { @class = "has-error" })
                        </div>

                        <input type="submit" name="startRegistrationStore" value="startRegistrationStore" id="startRegistrationStore" class="hidden">
                        <button name="checkout" type="submit" class="button button-3d  fright" onclick="$('#startRegistrationStore').trigger('click');return false;">
                            Đăng ký
                        </button>
                        <div class="login__forgot-pass">
                            Bạn đã có tài khoản ?
                            <a href="@Url.Action("Login", "Store", new {area = ""})" title="Đăng ký">Đăng nhập</a>
                        </div>

                    </div>
                </div>


            }

        </div>



    </div>
</div>

<!---/RegistrationSaler-->
