﻿@using App.Framework.UI.Extensions
@using App.Framework.Utilities

@{
    Layout = Url.FakePathAdmin("Views/Shared/_LayoutMedium.cshtml");
    ViewBag.Title = "Thông tin người bán";
}
@model App.FakeEntity.Stores.StoreViewModel

@if (Model != null)
{
    <div class="form-horizontal">
        <div class="form-body">
            <div class="page-content-inner">
                <div class="row">
                    <div class="col-md-12">
                        <!-- BEGIN PROFILE SIDEBAR -->
                        <div class="profile-sidebar">
                            <!-- PORTLET MAIN -->
                            <div class="portlet light profile-sidebar-portlet ">
                                <!-- SIDEBAR USERPIC -->
                                <div class="profile-userpic">

                                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                    {
                                        <img src="@Model.ImageUrl.ValidateImage()" />
                                    }
                                    else
                                    {
                                        <img src="https://ban.sendo.vn/Content/images/design/op/logoshop.jpg" class="img-responsive" alt="">
                                    }
                                </div>
                                <!-- END SIDEBAR USERPIC -->
                                <!-- SIDEBAR USER TITLE -->
                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name"> @Model.Name </div>
                                </div>
                                <!-- END SIDEBAR USER TITLE -->
                            </div>
                            <!-- END PORTLET MAIN -->
                            <!-- PORTLET MAIN -->
                            @*<div class="portlet light ">

                                    <div>
                                        <h4 class="profile-desc-title">Thông tin shop</h4>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-globe"></i>
                                            <a href="http://www.keenthemes.com/">www.keenthemes.com</a>
                                        </div>

                                    </div>
                                </div>*@
                            <!-- END PORTLET MAIN -->
                        </div>
                        <!-- END BEGIN PROFILE SIDEBAR -->
                        <!-- BEGIN PROFILE CONTENT -->
                        <div class="profile-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light ">
                                        <div class="portlet-title tabbable-line">

                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#tab_1_1" data-toggle="tab">Thông tin người bán</a>
                                                </li>
                                                <li>
                                                    <a href="#tab_1_2" data-toggle="tab">Thay đổi avatar</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="tab-content">
                                                <!-- PERSONAL INFO TAB -->
                                                <div class="tab-pane active" id="tab_1_1">
                                                    @using (Ajax.BeginForm("UpdateInfo", "Store", new AjaxOptions { UpdateTargetId = "infoUpdate" }, new { id = "frmInfoUpdate" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.HiddenFor(model => model.Id)

                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.Slogan, new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.Slogan, new { @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.Slogan) })
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ShortDesc, new { @class = "control-label" })
                                                            @Html.TextBoxFor(model => model.ShortDesc, new { @class = "form-control", placeholder = Html.DisplayPlaceHolderFor(m => m.ShortDesc) })
                                                        </div>

                                                        <div class="margiv-top-10">
                                                            <button class="btn green" id="btnUpdateInfoStore"> Lưu thông tin người bán </button>
                                                        </div>
                                                    }
                                                </div>
                                                <!-- END PERSONAL INFO TAB -->
                                                <!-- CHANGE AVATAR TAB -->
                                                <div class="tab-pane" id="tab_1_2">
                                                    @using (Ajax.BeginForm("UpdateAvatarStore", "Store", new AjaxOptions { UpdateTargetId = "changeAvatar" }, new { id = "frmAvatar" }))
                                                    {
                                                        @Html.AntiForgeryToken()

                                                        <div class="form-group" id="changeAvatar">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">

                                                                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                                                                    {
                                                                        <img src="@Model.ImageUrl.ValidateImage()" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                                                    }
                                                                </div>
                                                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                                <div>
                                                                    <span class="btn default btn-file">
                                                                        <span class="fileinput-new"> Chọn hình </span>
                                                                        <span class="fileinput-exists"> Thay đổi avatar </span>
                                                                        <input type="file" id="upFile" name="upFile" />

                                                                    </span>
                                                                    <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Xoá </a>
                                                                </div>
                                                            </div>
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">

                                                            </div>
                                                            <div class="margin-top-10">
                                                                <button class="btn green" id="btnUpdateAvatar"> Lưu avatar </button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PROFILE CONTENT -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section style{
        <link href="@Url.FakePathAdmin("assets/pages/css/profile.min.css")" rel="stylesheet" />
    }

    @section scripts{
        <script src="@Url.FakePathAdmin("assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
        <script src="@Url.FakePathAdmin("assets/pages/scripts/profile.min.js")" type="text/javascript"></script>

    }

    <script type="text/javascript">

        $(function() {

            storeInfo.init();

        });

        var storeInfo = (function() {

            var updateAvatar = function() {

                var files;
                $('#upFile').on('change.bs.fileinput',
                    function(e) {
                        files = e.target.files;
                    });

                $("#btnUpdateAvatar").on('click',
                    function() {

                        App.blockUI({ target: 'body', boxed: true });

                        var fromData = new FormData();
                        if (files.length > 0) {
                            fromData.append("HelpSectionImages", files[0]);
                        }

                        $.ajax({
                            url: '@Url.Action("UpdateAvatarStore", "Store", new {storeId = Model.Id})',
                            data: fromData,
                            type: 'POST',
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function(resp) {
                                App.unblockUI("body");
                                App.notific8(resp.title, 'Lưu thành công');

                            },
                            error: function(xhr, status) {
                                console.log(status);
                                App.unblockUI("body");
                            }
                        });

                        return false;
                    });


            };

            var updateInfo = function() {
                $("#btnUpdateInfoStore").on('click',
                    function() {
                        debugger;
                        App.blockUI({ target: 'body', boxed: true });

                        var form = $('#frmInfoUpdate');
                        var fromData = form.serializeToJSON({ associativeArrays: false });
                        var param = { 'model': fromData };

                        $.ajax({
                            url: '@Url.Action("UpdateInfo", "Store")',
                            data: fromData,
                            type: 'POST',
                            dataType: 'json',
                            success: function (resp) {
                                App.unblockUI("body");
                                App.notific8(resp.title, 'Lưu thành công');

                            },
                            error: function (xhr, status) {
                                console.log(status);
                                App.unblockUI("body");
                            }
                        });

                        return false;
                    });
            };

            return {
                init: function() {
                    updateAvatar();
                    updateInfo();
                }
            };

        })();


    </script>
}