﻿<!--SlideShowHome -->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Slides.SlideShow>

@if (Model.IsAny())
{
    <div id="owlmainslide">
        @foreach (var item in Model)
        {
            <div class="item">
                <a href="@item.WebsiteLink">
                    <img src="@item.ImgPath.ValidateImage()" alt="@item.Title" />
                </a>
            </div>
        }
    </div>
}

<!--/SlideShowHome -->