﻿@using App.Domain.Posts
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Posts.Post>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <a  href="@Url.Action("PostDetail","Post", new {seoUrl =item.SeoUrl,area=""})" class="fam-projects-widget-thumbnail">
            <img src="@item.ImageSmallSize.ValidateImage()"  alt="@item.Title" class="attachment-thumbnail size-thumbnail wp-post-image" />
            <div class="fam-projects-widget-hover">
                <i class="fa fa-glass"></i>
            </div>
        </a>
    }


}
