﻿<!---_PostCategory.Post-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Posts.Post>

@if (Model.IsAny())
{
    <div class="product-list">
        <section id="solution-index">

            <div class="content-solution">
                <div class="quoteplus transaction change-h">
                    <p style="text-align: center;">
                        <span class="titlemota" style="font-family:segoe ui;">
                            <strong>
                                <span style="font-size: 20px;">
                                    <span style="color: rgb(0, 128, 0);">@ViewBag.Title</span>
                                </span>
                            </strong>
                        </span>
                    </p>

                </div>

            </div>

            <div class="clearfix"></div>

            <div class="wrap-sub-slu list">
                <div class="sub-slu row ">
                    @foreach (var post in Model)
                    {
                        <div class="col-sm-6 col-xs-12 nlmt-item">
                            <div class="product-container">
                                <div class="img-nlmt left-block">
                                    <a href="@Url.Action("PostDetail", "Post", new { seoUrl = post.SeoUrl, area = "" })" title="@post.Title">
                                        <img alt="@post.Title" src="@(post.ImageMediumSize.ValidateImage())?size=400" />
                                    </a>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name">
                                        <a href="@Url.Action("PostDetail", "Post", new { seoUrl = post.SeoUrl, area = "" })" title="@post.Title">
                                            @post.Title
                                        </a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="clearfix"></div>

        </section>
    </div>
}
else
{
    Html.RenderPartial("Messages/_MessageEmtyData");
}
<!---_PostCategory.Post-->
