﻿<!--_PostDetail.StoreInfo-->
@using App.Framework.Utilities
@model App.Domain.Posts.Post

@if (Model != null && Model.Store != null)
{
    <div class="store-info block left-module">
        <p class="title_block">Thông tin người bán</p>
        <div class="block_content">
            <ul class="testimonials">
                <li>
                    <div class="client-mane">@Model.Store.Name</div>
                    <div class="client-avarta">
                        <img src="@Model.Store.ImageUrl.ValidateImage()" alt="@Model.Store.Name">
                    </div>
                    <div class="store-info__testimonial">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>  @Model.Store.User.Address
                    </div>
                    <div class="store-info__testimonial">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Ngày tham gia: @Model.Store.CreatedDate.ToString("dd-MM-yyyy")
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Store.User.Phone))
                    {
                        <div class="phone testimonial text-center text-info">
                            <span><i class="fa fa-mobile fa-fw" aria-hidden="true"></i>@Model.Store.User.Phone</span>
                        </div>

                    }

                    <div class="button-group">
                        <a class="button-group__item center-block">
                            <i class="fa fa-line-chart"></i>
                            Số sản phẩm đã đăng: @Model.Store.Posts.Count
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
}

<!--/_PostDetail.StoreInfo-->