﻿<!---PostDetail--->
@using App.Core.Extensions
@using App.Domain.Common
@using App.Domain.Posts
@using App.Framework.Utilities
@model App.Domain.Posts.Post

<div id="col_main" class="container">
    <section id="tabs-solu" class="post-detail">
        <div class="container  product-info-detailed">
            @{
                Html.RenderPartial("_BreadCrumb");
            }

            <ul id="myTab" class="nav nav-tabs nav-tab">
                <li class="active">
                    <a href="#NLHD" data-toggle="tab">
                        <div>Giới thiệu giải pháp</div>
                    </a>
                </li>
                <li class="">
                    <a href="#BGTK" data-toggle="tab">
                        <div>Cấu hình hệ thống</div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <div id="solution-index">

        <div class="col-sm-9" id="product">

            <section id="solution-index" class="pb-right-column ">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="NLHD">
                        <meta charset="utf-8" />
                        <h1 class="product-name">@Model.Title</h1>

                        @Html.Raw(Model.Description)

                        <div class="clearfix"></div>
                    </div>

                    <div class="tab-pane fade " id="BGTK">
                        @Html.Raw(Model.TechInfo)
                    </div>
                </div>
            </section>
        </div>

        <div class="col-sm-3 col-xs-12 right-main" id="left_column">
            <!-- block category -->
            <div class="block left-module">
                <p class="title_block">Danh mục</p>
                <div class="block_content">
                    <!-- layered -->
                    <div class="layered layered-category">
                        <div class="layered-content">
                            @Html.Action("MenuLinkSideBar", "MenuNav", new { area = "", virtualId = Model.MenuLink.VirtualId, proAttrs = ViewBag.ProAttrs })
                        </div>
                    </div>
                    <!-- ./layered -->
                </div>
            </div>
            <!-- ./block category  -->
        </div>
    </div>
</div>
<!---/PostDetail---->
