﻿<!----PostHome-->
@using App.Core.Extensions
@using App.Domain.Manufacturers
@using App.Domain.Menus
@using App.Domain.Posts
@using App.Framework.Utilities
@model App.Front.Models.Posts.CategoryPostModel

@if (Model != null)
{
    var solutionMenu = Model.MenuLinks.Where(x => x.Id == 2131).FirstOrDefault();

    <section id="nlmt">
        <div class="wrap-nlmt-home">
            <div class="row title_home1">
                <h2 class="col-sm-6 title_home">
                    <a href="@Url.Action("GetContent", "Menu", new { menu = solutionMenu.SeoUrl, area = "" })">
                        @solutionMenu.MenuName
                    </a>
                </h2>

                @*<div class="col-sm-6  text-right hidden-xs">
                    <div class="search-home">
                        <input class="text" type="text" id="keyword">
                        <i class="fa fa-search" aria-hidden="true" id="searchSubmit"></i>
                    </div>
                </div>*@
            </div>

            @Html.Action("MenuNavLeft", "MenuNav", new { virtualId = solutionMenu.VirtualId, area = "" })
        </div>
    </section>
    <div class="clearfix"></div>

    Html.RenderAction("PostHot", "Post");



    Html.RenderAction("NewsHome", "News", new { area = "" });

    

}

<!----/PostHome-->