﻿<!----GetProductHot-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Posts.Post>

@if (Model.IsAny())
{
    <section id="DATB">
        <div class=" wrap-datb-home">
            <h2 class="title_home">Những dự án tiêu biểu</h2>
            <div class="wrap-list-datb">
                <div id="owl-datb">
                    @foreach (var post in Model)
                    {

                        <div class="item">
                            <div class="col-xs-4 col-sm-4 col-md-4 img-datb">
                                <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
                                    <img alt="@post.Title" src="@post.ImageMediumSize.ValidateImage()">
                                </a>
                            </div>
                            <div class="col-xs-8 col-md-8 col-sm-8 info-datb">
                                <a href="@Url.Action("PostDetail", "Post", new {seoUrl = post.SeoUrl, area = ""})" title="@post.Title">
                                    <p class="title-datb">
                                        @post.Title
                                    </p>
                                </a>
                                <p class="quote-datb">
                                    @post.ShortDesc
                                </p>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
}
<!----/GetProductHot-->