﻿<!---PostCategories-->
@model IEnumerable<App.Domain.Posts.Post>

<div id="col_main" class="container">
    @Html.Partial("_BreadCrumb")

    <div class="col-sm-9">
        @Html.Partial("_PostCategory.Post", Model)
    </div>

    <link href="templates/skins/css/right.css" rel="stylesheet" />

    <div class="col-sm-3 col-xs-12 right-main" id="left_column">
        @{Html.RenderAction("SearchSideBar", "SearchBox", new
            {
                area = "",
                productOld = ViewBag.ProductOld,
                productNew = ViewBag.ProductNew,
                attributes = ViewBag.Attributes,
                prices = ViewBag.Prices,
                proAttrs = ViewBag.ProAttributes,
                virtualId = ViewBag.VirtualId
            });}


    </div>


</div>
<!---/PostCategories-->