﻿@using App.Domain.Common
@using Resources
@model App.FakeEntity.Stores.StoreViewModel

<div class="form-horizontal">
    <div class="form-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model=> model.User.Email, new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.User.Email, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Approval", new { @class = "control-label col-md-3" })
            <div class="col-md-5">
                <input type="checkbox" class="make-switch" checked="@(!Model.User.IsLockedOut)"
                       id="lockedOut"
                       data-user-Id="@Model.User.Id"
                       data-on-text="&nbsp;Approval&nbsp;"
                       data-off-text="&nbsp;UnApproval&nbsp;"
                       data-on="success" 
                       data-off="danger">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {

        $("#lockedOut").on('switchChange.bootstrapSwitch',
            function(event, state) {
              
                var dataParam = {
                    userId: event.currentTarget.attributes["data-user-id"].value,
                    isLock: !state
                };

                $.ajax({
                    url: '@Url.Action("ChangeLockedOut", "ApprovalStore")',
                    data: dataParam,
                    type: 'POST',
                    dataType: 'json',
                    success: function(resp) {
                       
                    },
                    error: function (xhr, status) {
                        console.log(status);
                    }
                });
            });
    });
</script>