﻿@using App.Core.Extensions
@using Resources

@model IEnumerable<App.Domain.Stores.Store>

@{
    ViewBag.Title = FormUI.Store;
    ViewBag.Toolbar = new[] { "Edit", "Delete", "Divider", "Reset" };
}

@Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content table-hover dataTable">
    <thead class="flip-content">
        <tr>

            <th class="text-center">Tên store</th>
            <th class="text-center">Email</th>
            <th class="text-center">Khoá tài khoản</th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.IsAny())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td> <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@item.Name</a></td>
                    <td>@item.User.Email</td>
                    <td>@Html.Raw(item.User.IsLockedOut ? "<span class='label label-sm label-danger'>UnApproval</span>" : "<span class='label label-sm label-success'>Approval</span>")</td>
                    <td class="text-center">
                        <input type="checkbox" value="@item.Id">
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="4" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }

