﻿@model App.Domain.ContactInformations

<div class="map-contact marginbottom col-sm-6 col-xs-12">
    <div class="box">
        <div id="ext_maps">
            <div class="google-map">

                @*@if (Model != null)
                    {
                        <script type="text/javascript">
                        function ShowMap() {
                            initMap('@Model.Lat',
                                '@Model.Lag',
                                '<h2>@Model.Title<h2><p>Hotline: @Model.Hotline</p><p>Điện thoại: @Model.MobilePhone</p><p>@Model.Email</p><p>Địa chỉ: @Model.Address</p>',
                                'map_canvas');
                        }

                        $(function() {
                            ShowMap();
                        })
                        </script>
                    }*@
                <div id="map_canvas" class="map_canvas">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d3924.9541746685936!2d106.29986101427478!3d10.345549392614782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d10.3458776!2d106.30291779999999!4m5!1s0x310aa51c55555555%3A0x6f4fd106dc80ef84!2zQ8OUTkcgVFkgVE5ISCBTWCBUTSBUSEnDik4gUEjDgVQgVHLhu6Ugc-G7nyBjaMOtbmg6IOG6pXAgVMOibiBUaHXhuq1uLCB4w6MgQsOsbmggxJDhu6ljLCBDaMOidSBUaMOgbmgsIFRp4buBbiBHaWFuZy4!3m2!1d10.3455474!2d106.30223389999999!5e0!3m2!1svi!2s!4v1498730691607" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</div>