﻿@using App.Framework.Utilities

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title </title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="generator" content="" />
    <link rel="canonical" href="@Html.Raw(Request.Url.AbsoluteUri)" />
    <link rel="alternate" hreflang="vi_vn" href="@ViewBag.SiteUrl" />
    <meta name="robots" content="index, follow, noodp" />
    <meta name="googlebot" content="index,archive,follow,noodp" />
    <meta name="msnbot" content="all,index,follow" />
    <meta name="copyright" content="@ExtentionUtils.CurrentHost" />
    <meta property="og:locale" content="vi_VN">
    <meta property="og:site_name" content="@ViewBag.Title" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />

    <!-- You can use Open Graph tags to customize link previews.-->
    <meta property="og:url" content="@(string.Concat(ExtentionUtils.CurrentHost,ViewBag.Image))">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@(string.Concat(ExtentionUtils.CurrentHost,ViewBag.Image))" />
    <link href="@ViewBag.Favicon" rel="shortcut icon" type="image/x-icon" />

    <link href='/assets/templates/skins/css/bootstrap.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href="/assets/templates/skins/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src='/assets/templates/skins/js/bootstrap.min.js' type='text/javascript'></script>
    <!-- <script src='http://www.datsolar.com//assets/templates/skins/js/jquery-1.11.0.min.js' type='text/javascript'></script> -->
    <script type="text/javascript" src="/assets/templates/skins/js/detect.js"></script>
    <link href="/assets/templates/skins/css/styledat.css" rel="stylesheet" />

    @{Html.RenderAction("GetMeta", "Summary"); }
    @{Html.RenderAction("GetMetaTagsSeo", "Summary");}

    @{Html.RenderPartial("_StyleSheet");}

    @RenderSection("renderStyles", false)

    @{Html.RenderPartial("_Scripts"); }

</head>
<body>

    @*<input type="hidden" name="url" id="url" value="index.html">*@

    @{ Html.RenderAction("Header", "MenuNav", new { area = "" });}


    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <section id="text-foot">
        <div class="container">
            <div class="col-sm-12 wrap-share-contact">
                <div class="text-chat">
                    <p class="chat-big">CHIA SẺ NHU CẦU CỦA BẠN</p>
                    <p class="chat-small">
                        <div>
                            <span style="font-family:segoe ui;">
                                <span style="font-size:16px;">
                                    H&atilde;y li&ecirc;n hệ
                                    với ch&uacute;ng t&ocirc;i, mọi mong muốn của Bạn sẽ được lắng nghe!
                                </span>
                            </span>
                        </div>
                    </p>
                </div>
                <div class="phone-chat">
                    <p class="text-phone">
                        <a href="tel:0906.585.939" style="color: #fff;">
                            <i class="fa fa-phone"
                               aria-hidden="true"></i>0906.585.939
                        </a>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>



    @{
        Html.RenderAction("Footer", "Summary", new { area = "" });
    }

    <link href='/assets/templates/skins/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href="/assets/owlcarousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="/assets/templates/skins/css/menu.css" rel="stylesheet" />
    <link href="/assets/templates/skins/css/skin.css" rel="stylesheet" />
    <link href="/assets/module.css" rel="stylesheet" />
    <link href="/assets/templates/skins/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/assets/templates/skins/js/mess_vn.min.js"></script>
    <script type="text/javascript" src="/assets/templates/skins/js/jquery.sticky.js"></script>
    <script type='text/javascript' src="/assets/templates/skins/js/jquery.imageScroller.js"></script>

    <script src='/assets/owlcarousel/owl.carousel.js' type='text/javascript'></script>
    <script type="text/javascript" src="/assets/templates/skins/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="/assets/templates/skins/js/js.index.js"></script>
    @*<script type="text/javascript" src="../ge353.infusionsoft.com/app/webTracking/getTrackingCode"></script>*@
    <script type="text/javascript" src="/assets/templates/skins/js/home.js"></script>
    <script type="text/javascript" src="/assets/templates/skins/js/dat.js"></script>

    <a href="#" class="scroll_top" title="Scroll to Top" style="display: none;">Scroll</a>

    <div class="ajax-loading"></div>


    <!-- /.modal -->
    <!--Fane page FB-->
    @*<div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=333261973802232";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>*@


    @RenderSection("renderJQuery", false)
    @RenderSection("renderScripts", false)
    @RenderSection("google", false)
    @RenderSection("facebook", false)

</body>
</html>
