﻿
@*@Scripts.Render("~/bundles/script_angular")*@

@*@Scripts.Render("~/bundles/script_jquery")*@


@*<script src="http://kute-themes.com/html/kuteshop/html/js/jquery.min.js"></script>*@
@*<script src="/assets/lib/flexslider/jquery.flexslider-min8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/lib/countdown/jquery.plugin.js" type="text/javascript"></script>
<script src="/assets/lib/countdown/jquery.countdown.js" type="text/javascript"></script>
<script src="/assets/global/design/theme-default/html5shiv.js"></script>
<script src="/assets/global/design/js/option_selection.min.js"></script>
<script src="/assets/global/design/js/api.jquery.min.js"></script>
<script src="/assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
<script src="/assets/global/design/theme-default/jquery.touchSwipe.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.actual.min.js" type="text/javascript"></script>
<script src="/assets/js/theme-script.js" type="text/javascript"></script>

<script src="/assets/global/design/js/haravan.plugin.1.0.min.js"></script>*@

@*<script src="/assets/global/design/plugins/jquery/jquery-1.11.3.min.js"></script>*@
@*<script src="/assets/global/design/plugins/bootstrap/3.3.6/js/bootstrap.min.js"></script>*@

@*<script src='/assets/255/1000074255/1000138323/jquery.bxslider.min8e0e.js?v=8' type='text/javascript'></script>*@
@*<script src='/assets/255/1000074255/1000138323/owl.carousel.min8e0e.js?v=8' type='text/javascript'></script>*@
@*<script src="/assets/255/1000074255/1000138323/modernizr.min8e0e.js?v=8" type="text/javascript"></script>*@
<!--<script src='//hstatic.net/255/1000074255/1000138323/jquery.countdown.js?v=8' type='text/javascript'></script> -->
@*<script src="/assets/255/1000074255/1000138323/jquery.cookie8e0e.js?v=8" type="text/javascript"></script>*@
@*<script src='/assets/255/1000074255/1000138323/jquery.fancybox8e0e.js?v=8' type='text/javascript'></script>*@
<!--<script src='//hstatic.net/255/1000074255/1000138323/jquery.lazyload.js?v=8' type='text/javascript'></script> -->
@*<script src="/assets/255/1000074255/1000138323/jquery-ui.min8e0e.js?v=8" type="text/javascript"></script>*@
@*<script src="/assets/global/design/theme-default/jquery-migrate-1.2.0.min.js"></script>*@

@*<script src="/assets/255/1000074255/1000138323/jquery.actual.min8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/255/1000074255/1000138323/jquery.countdown.min8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/255/1000074255/1000138323/jquery.flexslider-min8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/255/1000074255/1000138323/jquery.plugin8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/255/1000074255/1000138323/theme-script8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/0/0/global/design/theme-default/html5shiv.js"></script>
<script src="/assets/global/design/js/option_selection.min.js"></script>
<script src="/assets/global/design/js/api.jquery.min.js"></script>
<script src="/assets/255/1000074255/1000138323/select2.min8e0e.js?v=8" type="text/javascript"></script>
<script src="/assets/global/design/theme-default/jquery.touchSwipe.min.js" type="text/javascript"></script>
<script src="/assets/global/design/js/haravan.plugin.1.0.min.js"></script>*@

@*@Scripts.Render("~/bundles/script_modernizr")
@Scripts.Render("~/bundles/script_cookie")

@Scripts.Render("~/bundles/script_fancybox")
@Scripts.Render("~/bundles/script_bootstrap")
@Scripts.Render("~/bundles/script_bxslider")
@Scripts.Render("~/bundles/script_carousel")*@


@*@Scripts.Render("~/bundles/script_theme")*@

<!---custom js--->
<script type="text/javascript" src="/Scripts/jsedit.js"></script>
@*<script type="text/javascript" src="/Scripts/page.js"></script>*@
<script type="text/javascript" src="/Themes/Basic/Scripts/web.plugins.min.js"></script>
@*<script type="text/javascript" src="/Themes/Basic/Scripts/goweb.common.js"></script>
<script type="text/javascript" src="/Themes/Basic/Scripts/goweb.customer.js"></script>*@


<!----livestamp-->
@*<script src="@Url.FakePathAdmin("renderScripts/plugins/daterangepicker/moment.min.js")"></script>
    <script src="@Url.FakePathAdmin("scripts/plugins/livetime/livestamp.min.js")"></script>*@