﻿@*@Styles.Render("~/bundles/content_jquery")
    @Styles.Render("~/bundles/content_bootstrap")
    @Styles.Render("~/bundles/content_fancybox")
    @Styles.Render("~/bundles/content_bxslider")
    @Styles.Render("~/bundles/content_carousel")
    @Styles.Render("~/bundles/content_animate")*@

@Styles.Render("~/bundles/content_theme")

@*<link href="/assets/css/reset.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/lib/flexslider/flexslider8e0e.css?v=8" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/lib/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/css/option2.css" rel="stylesheet" type="text/css" media="all" />*@

@*<link href='/assets/templates/skins/css/bootstrap.min.css' rel='stylesheet' type='text/css' media='all' />*@
@*<link href="templates/skins/css/font-awesome.min.css" rel="stylesheet" type="text/css" />*@

@*<link href='/assets/templates/skins/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href="js/owlcarousel/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="templates/skins/css/menu.css" rel="stylesheet" />
    <link href="templates/skins/css/skin.css" rel="stylesheet" />
    <link href="css/module.css" rel="stylesheet" />
    <link href="templates/skins/css/style.css" rel="stylesheet" />*@
@*<script type="text/javascript" src="templates/skins/js/mess_vn.min.js"></script>
    <script type="text/javascript" src="templates/skins/js/jquery.sticky.js"></script>
    <script type='text/javascript' src="templates/skins/js/jquery.imageScroller.js"></script>*@

@*<script src='js/owlcarousel/owl.carousel.js' type='text/javascript'></script>
    <script type="text/javascript" src="templates/skins/js/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="templates/skins/js/js.index.js"></script>
    <script type="text/javascript" src="../ge353.infusionsoft.com/app/webTracking/getTrackingCode"></script>
    <script type="text/javascript" src="templates/skins/js/home.js"></script>
    <script type="text/javascript" src="templates/skins/js/dat.js"></script>*@


<!---custom css--->
<link rel="stylesheet" href="/Content/cssedit.css" type="text/css" media="all" />