﻿<!----BannerProductHome-->
@using App.Core.Extensions
@using App.Framework.Utilities
@model IEnumerable<App.Domain.Ads.Banner>

@if (Model.IsAny())
{
    var index = 0;
    <div class="row banner-bottom">

        @foreach (var item in Model)
        {
            index++;
            <div class="col-sm-6 @(index % 2 > 0 ? "item-left" : "item-right") ">
                <div class="banner-boder-zoom">
                    <a href="@item.WebsiteLink" title="@item.WebsiteLink" target="_blank">
                        <img alt="@item.Title" class="img-responsive" src="@item.ImgPath.ValidateImage()" width="@item.Width" height="@item.Height"/>
                    </a>
                </div>
            </div>
        }
    </div>
}
<!----/BannerProductHome-->