﻿<!----_Social.GooglePlus_Link-->
<span id="divGooglePlus"></span>

<script>
    jQuery(function () {
        'use strict';

        jQuery.post('@Url.Action("GetSettingSeo", "Summary")')
            .done(function (data) {
                var googlePlusLink = data.response.GooglePlusLink;
                var code = '<a href="' + googlePlusLink +'" class="si-gplus social-icon si-dark si-colored" target="_blank"><img src="/assets/templates/skins/images/google.png"></a>';

                jQuery("#divGooglePlus").html(code);
                    });
        })

</script>
<!----/_Social.GooglePlus_Link-->