#col_main
{
      padding-top: 16px;
    padding-bottom: 30px;
}
/*--------------
Reset
*/

ul, ol {
    list-style: none;
}
/*--------------
End Reset
*/

/*--------------
16.1 Left column
*/
#left_column .left-module {
    margin-bottom: 30px;
    overflow: hidden;
}

    #left_column .left-module .owl-dots {
        bottom: 5px;
    }

    #left_column .left-module:last-child {
        margin-bottom: 0;
    }

    #left_column .left-module img {
        margin: 0 auto;
    }

#left_column .block {
    border: 1px solid #eaeaea;
}

    #left_column .block .title_block {
        font-size: 16px;
        font-weight: bold;
        border-bottom: 1px solid #eaeaea;
        padding-left: 28px;
        text-transform: uppercase;
        padding-top: 11px;
        padding-bottom: 12px;
    }

    #left_column .block .block_content {
        padding: 9px 9px;
    }

.layered .layered_subtitle {
    color: #666;
    font-size: 16px;
    padding-bottom: 4px;
    text-transform: uppercase;
}

.layered .layered-content {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}

    .layered .layered-content:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .layered .layered-content:first-child {
    }

.layered-category .layered-content {
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.tree-menu li {
    line-height: 24px;
}

    .tree-menu li:hover > a,
    .tree-menu li.active > a,
    .tree-menu li:hover > span:before,
    .tree-menu li.active > span:before {
        color: #ff3366;
    }

.tree-menu > li > span:before {
    content: "\f105";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    color: #666;
    font-family: "FontAwesome";
    padding-right: 12px;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
}

.tree-menu > li > span.open:before {
    content: "\f107";
    font-size: 14px;
    display: inline-block;
    text-align: right;
    color: #666;
    font-family: "FontAwesome";
    padding-right: 12px;
    color: #ccc;
    font-weight: bold;
    cursor: pointer;
}

.tree-menu > li > ul {
    padding-left: 17px;
    display: none;
}

    .tree-menu > li > ul > li {
        border-bottom: 1px dotted #eaeaea;
    }

        .tree-menu > li > ul > li:last-child {
            border: none;
        }

        .tree-menu > li > ul > li > span:before {
            content: "\f0da";
            font-size: 14px;
            display: inline-block;
            text-align: right;
            color: #666;
            font-family: "FontAwesome";
            padding-right: 12px;
            color: #ccc;
        }

/** FILTER PRICE **/
.layered-filter-price .amount-range-price {
    padding: 15px 0;
}

.layered-filter-price .slider-range-price {
    height: 7px;
    background: #ff3366;
    border: none;
    border-radius: 0;
}

    .layered-filter-price .slider-range-price .ui-widget-header {
        background: #ccc;
        height: 7px;
    }

    .layered-filter-price .slider-range-price .ui-slider-handle {
        border: none;
        border-radius: 0;
        background: url("../images/range-icon.png") no-repeat;
        cursor: pointer;
    }

.check-box-list {
    overflow: hidden;
}

    .check-box-list li {
        line-height: 24px;
    }

    .check-box-list label {
        display: inline-block;
        cursor: pointer;
        line-height: 12px;
    }

        .check-box-list label:hover {
            color: #ff3366;
        }

    .check-box-list input[type="checkbox"] {
        display: none;
    }

        .check-box-list input[type="checkbox"] + label span.button {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 13px;
            background: url("../images/checkbox.png") no-repeat;
            padding: 0;
            border: none;
        }

        .check-box-list input[type="checkbox"]:checked + label span.button {
            background: #ff3366 url("../images/checked.png") no-repeat center center;
        }

        .check-box-list input[type="checkbox"]:checked + label {
            color: #ff3366;
        }

    .check-box-list label span.count {
        color: #a4a4a4;
        margin-left: 2px;
    }

.filter-color ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
}

.filter-color li {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: normal;
    float: left;
    padding: 5px;
}

    .filter-color li label {
        border: 1px solid #eaeaea;
        width: 20px;
        height: 20px;
        padding-top: 6px;
        padding-left: 6px;
        float: left;
    }

    .filter-color li input[type="checkbox"] + label span.button {
        background: none;
        margin: 0;
    }

    .filter-color li input[type="checkbox"]:checked + label {
        border-color: #ff3366;
    }

.filter-size {
    max-height: 200px;
    overflow-y: auto;
}

    .filter-size li {
        width: 50%;
        float: left;
    }

.owl-nav .owl-dots {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}

    .owl-nav .owl-dots .owl-dot {
        width: 14px;
        height: 14px;
        background: #adadad;
        display: inline-block;
        margin: 0 6px;
        border-radius: 90%;
    }

        .owl-nav .owl-dots .owl-dot.active {
            background: #ff3366;
        }
[18. Product page]
*/
#product .pb-right-column{
  line-height: 30px;
}
#product .pb-right-column .fa{
  line-height: inherit;
}
#product .pb-right-column .product-name{
  font-size: 25px;
  color: #1d78cb;
  font-weight: bold;
  text-align: center;
}
#product .pb-right-column .product-comments .product-star,
#product .pb-right-column .product-comments .comments-advices{
  width: auto;
  display: inline-block;
}
#product .pb-right-column .product-comments .product-star{
  color: #ff9900;
}
#product .pb-right-column .product-comments .comments-advices a{
  border-right: 1px solid #eaeaea;
  padding-left: 15px;
  padding-right: 15px;
}
#product .pb-right-column .product-comments .comments-advices a:last-child{
  border-right: none;
}
#product .pb-right-column .product-price-group .price,
#product .pb-right-column .product-price-group .old-price,
#product .pb-right-column .product-price-group .discount{
  display: inline-block;
  margin-right: 15px;
}
#product .pb-right-column .product-price-group .price{
  font-size: 18px;
  font-weight: bold;
  color: #ff3366;
}
#product .pb-right-column .product-price-group .old-price{
  text-decoration: line-through;
}
#product .pb-right-column .product-price-group .discount{
  background: #ff9900;
  color: #fff;
  padding: 0 15px;
  text-align: center;
  line-height: inherit;
  margin-right: 0;
  height: 23px;
  line-height: 23px;
}

/***********************************************
    Product list
 **********************************************/
.product-list .product-container {
    border: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 10px;
}

.product-list .info-orther {
    display: none;
}

.product-list.grid  {
    margin-top: 30px;
}

.product-list.grid .info-orther {
    display: none;
}

.product-list.list li {
    width: 100%;
    margin-top: -1px;
}

    .product-list.list li .product-container {
        border: none;
        border-bottom: 1px solid #eaeaea;
        border-left: 1px solid transparent;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .product-list.list li:first-child .product-container {
        margin-top: 20px;
    }

    .product-list.list li:hover .product-container {
        border: 1px solid #eaeaea;
    }
.product-list  .left-block a{
  display: block;
  overflow: hidden;
  display: block;
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 100%;
  text-decoration: none !important;
  outline: none !important;
}
.product-list .left-block img{
    transition:all 0.5s;
    webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    /* transform: scale(1,1); */
    /* margin: 0 auto; */
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.product-list .list .left-block {
    position: relative;
    overflow: hidden;
    padding: 10px 10px 0;
}
.product-list  .product-name {
    padding-bottom: 5px;
    height: 40px;
}
    .product-list .product-name a {
        color: #009145;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
    }
.product-list  .right-block {
    padding: 0 15px;
    margin-top: 15px;
}
.product-list.list .add-to-cart {
    top: 70px;
    right: 36px;
    left: inherit;
    bottom: inherit;
    width: 129px;
    height: 36px;
    background: #ff3366;
    line-height: 36px;
    position: absolute;
}

    .product-list.list .add-to-cart a {
        height: 36px;
        background: url("../images/cart.png") no-repeat left center;
        margin-left: 15px;
        padding-left: 15px;
        width: 114px;
    }

.product-list.list .quick-view {
    width: 129px;
    right: 36px;
    top: 120px;
    text-align: center;
    padding-left: 5px;
}

    .product-list.list .quick-view a {
        margin: 0 10px;
    }

        .product-list.list .quick-view a:last-child {
            margin: 0;
        }

        .product-list.list .quick-view a.heart {
            margin-left: inherit;
        }

        .product-list.list .quick-view a.compare {
            margin-left: inherit;
        }

        .product-list.list .quick-view a.search {
            margin-left: inherit;
        }

.product-list.list .group-price {
    top: 34px;
    left: 25px;
}

.product-list.list .product-star {
    width: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
    line-height: 26px;
    padding-top: 6px;
}

.product-list.list  .content_price {
    margin-top: -3px;
}

.product-list.list .right-block {
    width: 71%;
    float: left;
    margin-top: 20px;
    line-height: 26px;
}

.product-list.list .info-orther {
    display: block;
}

.product-list.list .right-block .product-name {
    font-size: 18px;
}

.product-list.list .right-block .availability span {
    color: #009966;
}

.product-list.list .right-block .product-desc {
    line-height: 24px;
    margin-top: 20px;
}

.product-list.style2.grid .add-to-cart {
    position: inherit;
    background: none;
    margin-top: 5px;
}

    .product-list.style2.grid .add-to-cart a {
        background: #ff3366;
        padding: 0 15px;
    }

        .product-list.style2.grid .add-to-cart a:hover {
            opacity: 0.8;
        }

        .product-list.style2.grid .add-to-cart a:before {
            content: '';
            width: 16px;
            height: 100%;
            background: url("../images/cart.png") no-repeat left center;
            float: left;
            margin-right: 10px;
        }

