﻿@using App.FakeEntity.User
@using App.Framework.UI.Extensions
@using App.Framework.Utilities
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập quản trị";
    Layout = Url.FakePathAdmin("Views/Shared/_LayoutLogin.cshtml");
}
<!-- BEGIN LOGIN FORM -->

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "login-form",  ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <h3 class="form-title font-green">Đăng nhập quản trị</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Vui lòng nhập tên đăng nhập và mật khẩu. </span>
    </div>
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(x => x.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = Html.DisplayPlaceHolderFor(n => n.UserName) })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.PasswordFor(x => x.Password, new { @class = "form-control form-control-solid placeholder-no-fix", autocomplete = "off", placeholder = Html.DisplayPlaceHolderFor(n => n.Password) })
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green uppercase">Đăng nhập</button>
        <label class="rememberme check mt-checkbox mt-checkbox-outline">
            @Html.CheckBoxFor(x => x.Remember) Ghi nhớ
            <span></span>
        </label>
        @*<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>*@
    </div>
}
@*<form class="login-form" action="" method="post" novalidate="novalidate">*@
@*<div class="login-options">
        <h4>Ngôn ngữ</h4>
        <ul class="language-icons">
            <li>
                <a class="vi" href="javascript:;"></a>
            </li>
            <li>
                <a class="en"  href="javascript:;"></a>
            </li>
        </ul>
    </div>*@
@*</form>*@
<!-- END LOGIN FORM -->
<!-- BEGIN FORGOT PASSWORD FORM -->
@*<form class="forget-form" action="index.html" method="post" novalidate="novalidate">
        <h3 class="font-green">Forget Password ?</h3>
        <p> Enter your e-mail address below to reset your password. </p>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email">
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
        </div>
    </form>*@
<!-- END FORGOT PASSWORD FORM --> 