﻿@using App.Core.Extensions
@using Resources

@model IEnumerable<App.Domain.Account.User>

@{
    ViewBag.Title = FormUI.AccountManagement;
    ViewBag.Toolbar = new[] { "Create", "Edit", "Delete", "Divider", "Reset" };
}

@Html.ValidationSummary(true, "", new { @class = "text-danger col-md-offset-3" })

<table id="@ViewContext.RouteData.Values["controller"]" class="app-grid table table-color table-bordered table-striped table-condensed flip-content table-hover dataTable">
    <thead class="flip-content">
        <tr>
            <th class="text-center">Họ tên</th>
            <th class="text-center">Tên đăng nhập</th>
            <th class="text-center">Email</th>
            <th class="text-center">Quản trị cấp cao?</th>
            <th class="text-center">Quyền hạn</th>
            <th class="text-center">Khoá tài khoản</th>
            <th class="text-center">
                <input onclick="AppCore.handleCheckAll(this) " type="checkbox">
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.IsAny())
        {
            foreach (var item in Model)
            {
                <tr>
                     
                    <td>
                        <a class="highlight0" href="@Url.Action("Edit", new {id = item.Id, ReturnUrl = Request.Url.PathAndQuery})">@string.Format("{0} {1} {2}",item.FirstName, item.MiddleName,item.LastName)</a>
                    </td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@Html.Raw(item.IsSuperAdmin ? "<span class='label label-sm label-warning'>Quản trị cao cấp</span>" : "<span class='label label-sm label-default'>Không</span>")</td>
                    <td>
                        @Html.Raw(item.Roles != null ? string.Join(", ", item.Roles.Select(x => x.Name)) : string.Empty)
                    </td>
                    <td>@Html.Raw(item.IsLockedOut ? "<span class='label label-sm label-warning'>Khoá tài khoản</span>" : "<span class='label label-sm label-success'>Không</span>")</td>
                    <td class="text-center">
                        <input type="checkbox" value="@item.Id">
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td class="dataTables_empty text-center" colspan="5" valign="top">
                    @MessageUI.EmptyItem
                </td>
            </tr>
        }
    </tbody>
</table>
@{ Html.RenderPartial("_PageLinks"); }

