#menu_top{height:43px;line-height:43px;font-family:'RobotoRegular';background-color:#00aeef;}
#menu_top{float:left;width:100%;}
#menu_top i{line-height:43px;font-size:30px;}
#menu_top i.down-nav{font-size:13px !important;padding-left:3px;}
#menu_top > .wrapper > ul{float:left;}
#menu_top > .wrapper > ul > li{display:inline-block;padding:0px 10px;position:relative;float:left;height:43px;}
#menu_top > .wrapper > ul > li:first-child{*margin-left:20px;padding-left:20px;}
#menu_top > .wrapper > ul > li:hover > a,
#menu_top > .wrapper > ul .active > a{border-bottom:solid 2px #FFF;}
#menu_top > .wrapper > ul > li > a{color:#ffffff;font-size:14px;font-family:RobotoBold;text-transform:uppercase;white-space:nowrap;padding-bottom:8px;}
#menu_top .hard_sub .sub-menu{position:absolute;top:100%;left:0px;width:100%;padding:0px 10px 10px 20px;background:#00aeef;width:200px;display:none;z-index:200;}
#menu_top .hard_sub:hover .sub-menu{display:block;}
#menu_top .hard_sub .sub-menu > li{border-bottom:1px solid #FFF;}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub{background:url(../images/arrow_right.png) no-repeat right center;background-position:95% 50%;position:relative;width:105%;padding-top:8px;padding-bottom:8px;line-height:20px;}
#menu_top .hard_sub .sub-menu > li:last-child{border:0px;}
#menu_top .hard_sub .sub-menu > li > a{color:#FFF;font-size:16px;font-family:'RobotoLight';}
#menu_top .hard_sub .sub-menu > li:hover > a{*color:#000;}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub .sub_sub_menu{position:absolute;top:0px;left:100.5%;width:200px;background:#00aeef;border-left:1px solid white;padding-left:20px;display:none;box-shadow:0px 0px 5px rgba(255,255,255,0.5);}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub:hover .sub_sub_menu{display:block;}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub:hover .sub_sub_menu li{border-bottom:1px solid #FFF;padding-bottom:8px;padding-top:8px;}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub:hover .sub_sub_menu li:last-child{border-bottom:0;}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub:hover .sub_sub_menu li a{color:#FFF;font-size:16px;font-family:'RobotoLight';}
#menu_top .hard_sub .sub-menu > li.hard_sub_sub:hover .sub_sub_menu li:hover a{*color:#000;}
.mod_left #left_category{border:1px solid #dddddd;float:left;width:100%;}
.mod_left #left_category h2{background:#00b8fc;text-align:center;font-family:'RobotoRegular';font-size:14px;color:#FFF;text-transform:uppercase;height:34px;line-height:34px;}
.mod_left #left_category ul{}
.mod_left #left_category > ul > li{position:relative;float:left;width:100%;}
.mod_left #left_category > ul > li:last-child{border-bottom:0px;}
.mod_left #left_category > ul > li > a{color:#444;font-size:14px;font-family:'RobotoRegular';text-transform:capitalize;}
.mod_left #left_category ul li.hard_sub > a{background:#00aeef;width:100%;float:left;color:#FFF;text-transform:uppercase;padding:9px 0px;}
.mod_left #left_category ul li .fa-arrow-right,
.con_sub .sub_menu li i{font-size:9px;color:#00aeef;background:#FFF;border-radius:50%;padding:2px 3px;margin-left:9px;margin-top:5px;float:left;}
.mod_left #left_category ul li.hard_sub span{float:right;width:85%;}
.mod_left #left_category > ul > li:hover ,
.mod_left #left_category > ul > li.active{*background:#ef4e51;}
.mod_left #left_category > ul > li:hover > a,
.mod_left #left_category > ul > li.active > a{*color:#dc1616;}
.con_sub{width:100%;z-index:200;float:left;}
.con_sub .sub_menu{border:1px solid #dddddd;width:99.5%;z-index:200;}
.con_sub .sub_menu li{position:relative;padding:4px 0px;border-bottom:1px solid #dddddd;}
.con_sub .sub_menu li i{color:#000;}
.mod_left #left_category ul li.hard_sub:hover .con_sub{*display:block;}
.con_sub .sub_menu > li{position:relative;float:left;width:100%;}
.con_sub .sub_menu > li.active:before{display:block;}
.con_sub .sub_menu > li.active a,.con_sub .sub_menu > li.active i{color:#02c0f8 !important;}
.con_sub .sub_menu > li:before{content:"";background:#02c0f8;width:3px;left:0px;top:0px;height:100%;display:block;position:absolute;display:none;}
.con_sub .sub_menu > li:hover:before{display:block;}
.con_sub .sub_menu > li:hover > a > .fa-circle-o{color:#02c0f8 !important}
.con_sub .sub_menu > li:first-child{*border-top:1px;}
.con_sub .sub_menu > li:last-child{border-bottom:0px;}
.con_sub .sub_menu > li a{color:#2C2C2C;font-size:14px;font-family:'RobotoRegular';padding-left:10px;}
.con_sub .sub_menu > li:hover > a{color:#02c0f8}
.hard_sub1{position:relative;}
.hard_sub1 .sub_menu1{position:absolute;top:0px;left:100%;z-index:999;width:100%;background:#fff;box-shadow:0px 0px 5px #6e6e6e;display:none;}
.hard_sub1 .sub_menu1 li{float:left;width:95%;padding-right:10px;}
.hard_sub1 .sub_menu1 li a{float:left;width:100%;padding-left:0px !important;}
.hard_sub1:hover .sub_menu1{display:block;}
.hard_sub1:hover .sub_menu1 li:hover a{color:#02c0f8}
.hard_sub1:hover .sub_menu1 li:hover > a > i{color:#02c0f8 !important}