@font-face{font-family:'utmhelve';src:url('../fonts/utmhelve/UTM_Helve.ttf')format('truetype');}
@font-face{font-family:'utmhelvebold';src:url('../fonts/utmhelve/UTM_HelveBold.ttf') format('truetype');}
::-webkit-input-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-ms-input-placeholder{color:#ccc;}
:-moz-placeholder{color:#ccc;}
.transaction{transition:all 0.3s ease-in-out 0s;-moz-transition:all 0.3s ease-in-out 0s;-ms-transition:all 0.3s ease-in-out 0s;-webkit-transition:all 0.3s ease-in-out 0s;-o-transition:all 0.3s ease-in-out 0s;}
.nav-top-pro{font-family:robotoregular;text-align:center;background:#f2f2f2}
.owlnavtoppro::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);background-color:#F5F5F5;border-radius:10px;}
.owlnavtoppro::-webkit-scrollbar{width:5px;background-color:#F5F5F5;height:5px}
.owlnavtoppro::-webkit-scrollbar-thumb{border-radius:10px;background-color:#FFF;background-image:-webkit-gradient(linear,40% 0%,75% 84%,from(#4D9C41),to(#19911D),color-stop(.6,#54DE5D))}
.owlnavtoppro{overflow-x:scroll;padding:0;}
.owlnavtoppro ul{list-style:none;padding:0;display:inline-block;}
.img-item-catog{width:100%;text-align:center;margin-bottom:10px;}
.tit-item-catog h2{margin:0px;font-size:17px;}
.item-catog{border-right:1px solid #fff;padding:5px 0px;width:181px;float:left;}
.item-catog.active,.item-catog:hover{background:#fff;cursor:pointer;transition:all 0.3s ease-in-out;}
.item-catog:last-child{border:none;}
.item-catog a{text-decoration:none;color:#333;}
.item-catog a img{max-height:52px}
.nav-top-tailieu,.nav-top-news{background:#f2f2f2;padding-top:5px;text-align:center;}
a:hover{text-decoration:none;}
#header{padding:10px;border-bottom: 1px solid #ccc; padding-bottom:0;}
.nav_top-right2 ul li{float:left;margin-right:30px;}
ul.nav-top-top1,ul.nav-top-top{float:right;margin:0;list-style:none;padding:0}

ul.nav-top-top li{float:LEFT;margin-right:10px;}
ul.nav-top-top li#lang{margin-right:0}
ul.nav-top-top li a img{max-width:20px;}
ul.nav-top-top li a{font-size:13px;color:#333;text-decoration:none;/* font-family:robotoregular; */}
ul.nav-top-top1 li a{color:#333;font-size:15px;font-family:robotobold;text-decoration:none;}
li.active a{color:#f38020 !important;}
i.fa.fa-home{font-size:20px;}
li.drop-menu{position:relative;}
.sub-menu1{position:absolute;list-style:none;padding:0;background:white;min-width:180px;-webkit-box-shadow:3px 3px 10px 1px rgba(61,61,61,1);-moz-box-shadow:3px 3px 10px 1px rgba(61,61,61,1);box-shadow:3px 3px 10px 1px rgba(61,61,61,1);transition:all 0.3s ease-in-out;display:none;z-index:999;}
.nav_top-right2 ul li{float:left;margin-right:30px;line-height:2;}
.nav_top-right2 ul li:last-child{margin-right:0}
ul.sub-menu1 li img{max-width:30px;float:left;margin-right:5px;}
ul.sub-menu1 li{padding:6px 5px;margin-right:0px;width:100%;}
ul.sub-menu1 li a{font-family:robotoregular;font-size:13px;}
ul.nav-top-top1 li.drop-menu:hover .sub-menu1{display:block;}
.sub-menu1>li:hover{background:#f1f1f1;}
ul.nav-top-top1 li a:hover,
ul.nav-top-top li a:hover{color:#f79633;}
.nav-top-top li a{border-right:1px solid #ccc;padding-right:5px;}
.nav-top-top li a:last-child{border-right:none;}
#owlmainslide .owl-page span{background:#fff;opacity:1}
#owlmainslide .owl-page.active span{background:#23ba85}
#owlmainslide .owl-pagination{position:absolute;width:100%;bottom:0}
#owlmainslide img{width:100%}
#DATB #owl-datb .img-datb img{width:140px;height:140px;border-radius:50%}
.titlemota{font-size:20px;font-family:"robotobold";color:#009145}
.titlemota,div.showall:hover{cursor:pointer;}
div.showall{font-size:10px;color:#fff;padding:5px 4px;background:#37af4a;border-radius:50%;position:absolute;top:15px;right:15px}
.quoteplus{height:50px;overflow:hidden;position:relative;}
.quoteplus.change-h{height:auto !important;}
div.showall i:last-child{display:none;}
div.showall i:first-child{display:block;}
div.showall.active{bottom:0;top:auto;}
div.showall.active i:first-child{display:none;}
div.showall.active i:last-child{display:block;}
.tit-ques{color:#f38020;font-weight:bold;font-size:18px;}
.form-ques{text-align:center;}
.wrap-input{width:50%;display:inline-block;position:relative;}
.form-list-ques{font-family:robotoregular;}
.form-ques input[type="text"]{width:100%;min-height:45px;padding:5px;border:3px solid #ccc;font-family:robotoregular;}
.form-ques input[type="submit"]{position:absolute;top:0;right:0;width:50px;height:45px;background:none;border:none;z-index:1;}
.ans-tit{color:#f38020;font-size:19px;font-weight:bold;}
.list-ques-ot li a i{font-size:5px;margin-right:5px;}
.list-ques-ot li{margin:20px 0px;font-family:"segoe ui";}
.new_detail .body_detail,.new_detail .body_detail{font-family:"segoe ui"}
.new_other a{font-size:15px}
.wrap-input i{position:absolute;top:25%;right:3%;color:#ccc;font-size:20px;}
.list-ques{margin-top:40px;}
.list-ques > li{border-top:1px solid #ccc;}
.list-ques li:first-child{border-top:none;}
.list-ques li{padding:15px;padding-left:0;}
.list-ques >li a{color:#333;font-family:"segoe ui";font-size:15px}
.list-ques >li a:hover{text-decoration:none;}
ul.list-ques >li i{font-size:6px;margin-right:5px;float:left;margin-top:8px;}
.list-ques>li:hover{background:#eaeaea;}
.right-main{margin-top:10px;}
#questionsubmit:before{content:"\f002";}
.wrap-nlmt-home{margin-top:20px;}
h2.title_home, h2.title_home a{color: #f7931e !important;font-size:23px;font-family:robotoregular;text-transform: uppercase;}
.nlmt-item{margin-top:10px;text-align:center;}
.nlmt-item img{width:100%;}
.img-nlmt{overflow:hidden;transition:all 0.3s ease-in-out;}
.nlmt-item p{border-top:none;text-transform:uppercase;font-size:15px;font-family:robotobold;padding:10px;background:#f0f0ff}
.nlmt-item p a{color:#009145;text-decoration:none;}
.search-home{float:right;width:45%;position:relative;}
.search-home input{width:100%;height:30px;font-size:14px}
.search-home i{position:absolute;top:0;right:0;padding:5px;border-left:1px solid #ccc;color:#ccc;font-size:18px;}
.search-home i:hover{background:#009145;color:#fff}
.img-nlmt a img{transform:scale(1);transition:all 0.3s ease-in-out;}
.img-nlmt:hover a img{transform:scale(1.2);}
.nlmt-item:hover a{color:#f7931e;}
p.title-datb{color:#119851;font-size:17px;font-family:robotobold;}
p.quote-datb{font-family:"segoe ui"}
.img-datb{overflow:hidden;padding:0;position:relative;z-index:1;text-align:center;}
.img-datb img{transition:all 0.3s ease-in-out;}
#owl-datb .item:hover img{transform:scale(1.1);}
.ideal-cus{border:1px solid #ccc;padding:10px;position:relative;height:100px;font-family:"segoe ui";margin-right:10px}
.carret-bot{position:absolute;bottom:-9%;left:7%;}
.carret-bot img{max-width:20px;}
.cus-item{}
.cus-info{margin-top:20px;transition:all 0.3s ease-in-out;background:#f3f3f3;padding:15px 5px;display:inline-block;width:100%}
.img-cus{width:20%;float:left;margin-right:10px;transition:all 0.3s ease-in-out;}
.img-cus img{border-radius:50%;transform:scale(1);transition:all 0.3s ease-in-out;}
.cus-item:hover .cus-info .img-cus img{transform:scale(1.05);}
.cus-item:hover .ideal-cus{border-color:#737373;transition:all 0.3s ease-in-out;}
p.name-cus{font-size:13px;font-weight:bold;margin:0px 0px 5px 0px;font-family:RobotoBold;color:#333;}
p.place-cus{font-size:13px;}
#text-foot{background-color:#37b24a;margin-top:10px;display:inline-block;width:100%}
.wrap-list-customer{margin:30px 0px;}
.wrap-news-talk{margin-bottom:30px;}
.img-news-talk{display:table-cell;vertical-align:middle;padding:0px 15px;}
.img-news-talk a img{filter:grayscale(100%);-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);}
.img-news-talk:hover a img{-webkit-filter:grayscale(0);filter:grayscale(0%);transition:all 0.3s ease-in-out;}
.wrap-share-contact{color:#fff;padding:5px 0px;}
p.chat-big{font-size:16px;text-transform:uppercase;font-weight:bold;margin-bottom:0px;font-family:robotobold;}
p.chat-small{font-size:14px;margin-bottom:0px;}
.text-chat{width:80%;float:left;}
.phone-chat{width:20%;float:left;}
.phone-chat{text-align:right;}
p.text-phone{background-color:#f38020;padding:5px 15px;font-size:17px;display:inline-block;border-radius:5px;font-weight:bold;margin-top:5px;}
p.text-phone i{margin-right:5px;}
.foot-list{padding:0}
footer{padding:0 15px;background-color:#dddddd;padding-bottom:30px}
footer ul{list-style:none;padding:0;display:inline-block;}
footer .social li{float:left;margin-left:5px}
.foot-list h3{color:#37b24a;font-size:17px;font-weight:bold;font-family:RobotoBold;}
.foot-list h3 a{color:#37b24a; text-decoration:none}
.foot-list ul li a{color:#000;font-size:12px;font-family:RobotoLight;text-decoration: none;}
.footer-left{border-bottom:1px solid #ccc;}
.foot-list ul li a i{color:#37b24a;margin-right:5px;}
.foot-bot h3{color:#fff;font-size:13px;font-family:robotobold;text-transform:uppercase;}
.foot-bot{color:#000;}
.sub-add ul li.main-add ul li{font-size:13px;font-family:robotoregular;}
.sub-add ul li .fa-home,.main-add ul li .fa-home{font-size:13px;}
.sub-add ul li i,.foot-bot ul li i{margin-right:5px;width:16px;color:#37b24a;font-size:12px;text-align:center;}
.main-add{width:55%;float:left;}
.sub-add li,.main-add li{position:relative;padding-left:20px}
.sub-add i,.main-add li i{position:absolute;left:0;top:5px}
.sub-add{width:45%;float:left;}
.lang-mobi a img{max-width:16px;}
.navbar-brand img{max-width:60px;}
#bs-example-navbar-collapse-1{background:#414142;color:#fff;}
.nav.navbar-nav li a{color:#fff;}
.navbar-form{border:none;padding:0px 5px;margin-top:5px;margin-right:-15px;margin-bottom:8px;margin-left:-15px;}
.navbar-toggle{border:none;background:transparent;}
.navbar{margin-bottom:0px;}
.navbar-default{background:transparent;box-shadow:NONE;border-color:#fff;}
.container-fluid{padding-left:0px;padding-right:0px;}
.lang-mobi a{margin:0px 5px;}
.nav.navbar-nav li{border-bottom:1px solid #6b6b6b;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color:#fff;background-color:transparent;}
.nav.navbar-nav li:hover{background:#505050;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a{background:#414142;color:#fff;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{color:#fff;background-color:#505050;}
.nav.navbar-nav li:last-child{border-bottom:none;}
.back-to-top{cursor:pointer;position:fixed;bottom:50px;right:20px;display:none;background:#f38020;border-color:#f38020;z-index:1000}
.greentit{color:#009145;}
li.active a{color:#f38020;}
.social{margin:10px 0px 10px 0px;text-align:right;}
.connect h3{color:#0772BA;font-size:15px;text-transform:uppercase;margin-top: 10px;}
.social ul li a img{max-width:40px;float:left;}
.copyright{display:inline-block;width:100%;border-top:1px solid #fff;margin-top:10px;padding:5px}
.copyright a{color:#fff}
.title_home1 .title_home{margin-top:0;}
.nhaphanphoi .img{padding:15px;}
.phanphoiother .info,.nhaphanphoi .info{text-align:justify;font-family:robotoregular;margin-top:15px}
.phanphoiother .info a,.nhaphanphoi .info a{color:#009145;font-size:15px;}
.phanphoiother .img{padding:5px;border:1px solid #999;display:table-cell;vertical-align:middle;}
.phanphoiother .img img{width:100%}
.infocom{display:inline-block;}
.wrap-navddl{background:#f5f5f5;}
.search-dl{margin-top:12%;position:relative;}
.search-dl input{width:100%;height:30px;padding:10px;border:1px solid #333;border-radius:3px;}
.search-dl i{position:absolute;top:20%;right:5%;font-size:18px;}
.nav-dls li{width:20%;float:left;text-align:center;font-family:robotoregular;padding:10px 0px 0px 0px;}
.nav-dls li.active{background:#fff;}
.nav-dls li a img{max-height:65px;}
.nav-dls li a{color:#333;}
.nav-dls li a:hover{text-decoration:none;}
.nav-dls li:hover{background:#fff;}
table.table{font-family:robotoregular;color:#676767;}
table.table th{text-transform:uppercase;}
.imgtd a img{max-height:25px;}
#questionsubmit:before{content:"\f002";}
input#dlsubmit{position:absolute;top:0;width:15%;right:0;border:none;z-index:1;background:transparent;}
.fixedheader{position:fixed;background:#fff;z-index:100;}
.title_new_orther{margin-bottom:15px}
.new_other .itemnewsother .info{margin-top:10px;margin-bottom:15px;min-height:42px;}
.owlothersolu .owl-buttons{position:absolute;top:-35px;right:0}
.owlothersolu .owl-buttons div{font-size:30px;color:#babcbe;opacity:0.4}
#owl-news-talk .item .img{margin-bottom:15px}
#owl-news-talk .item .info a{color:#009145;font-size:15px;}
.owlnavtoppro .owl-buttons div{position:absolute;top:calc(50% - 10px);font-size:20px}
.owlnavtoppro .owl-buttons div.owl-prev{left:0}
.owlnavtoppro .owl-buttons div.owl-next{right:0}
#phonecall{position:fixed;bottom:10px;left:70px;background:#37b24a;font-size:20px;border-radius:50%;display:none;z-index:99;width:45px;height:45px;text-align:center;}
#phonecall a{color:#fff;}
#phonecall i{line-height:45px}
.social .fb_iframe_widget{display:inline-block !important}
.mobilemenu,.menutoggle{display:none}
.nav_top-right1{margin-bottom:10px}
.nav_top-right1,.nav_top-right2{padding:0}
#logo{margin-top:0px}
.sbzon{z-index:90 !important}
#chatfbout{position:fixed;z-index:50;left:0px;bottom:0px;width:250px}
#chatfbout > span#openclosechat{display:inline-block;width:100%;text-align:center;background:#3c5a98;padding:5px;font-family:"robotoregular";color:#fff;cursor:pointer;}
#chatfbout > .fb-page{display:none;}
.list-ques-ot,.list-ques{padding:0;list-style:none;}
ul.nav-dls,.wrap-gp-nlmt ul,#catog-r ul,.list-contact ul{list-style:none;padding:0}
#sidebar{background:#eee;padding-top:15px}
#sidebar section{padding:0 15px;border-top:2px solid #fff;display:inline-block;width:100%}
#sidebar section:first-child{border-top:none;}
.searchcontent .img-news{padding-left:0}
@media(max-width:1024px){.item-catog{width:145px}
.nav_top-right2,.nav_top-right1{margin:0;padding:0;}
.nav_top-right1{margin-bottom:10px}
.nav_top-right1 ul{float:right;}
ul.nav-top-top li:last-child{margin-right:0}
.nav_top-right2 ul li{margin-right:15px}
.nav_top-right2 ul li:last-child{margin-right:0}
.search-home{display:none;}
.infocom{display:inline-block;width:100%}
.nav-dls li a img{max-height:40px}
#header .header_group #logo{margin-top:5px}
.nav-top-right{display:none;}
.menutoggle,.mobilemenu{display:block}
.menutoggle{font-size:30px;float:right;margin-top:14px;margin-right:9px}
.mobilemenu{position:absolute;width:250px;right:-25px;background:#414142;top:100%;z-index:100;display:none;}
.mobilemenu ul{margin:0;overflow:scroll;z-index:100;list-style:none;padding:0}
.mobilemenu li{border-bottom:1px solid #575759;position:relative;}
.mobilemenu li.langmombi{background:#575759;text-align:center;}
.mobilemenu li.langmombi a{width:auto;padding:0 10px}
.mobilemenu li.searchmobi{padding:02px;position:relative;}
.mobilemenu li.searchmobi li.searchmobi{position:relative;padding:3px}
.mobilemenu li.searchmobi .searchbox input{width:100%;padding:3px;height:30px}
.mobilemenu li.searchmobi .searchbox span{position:absolute;right:10px;top:10px}
.mobilemenu li a{font-family:"robotobold";font-size:15px;color:#fff;display:inline-block;padding:10px;width:100%}
.mobilemenu li span.arrow{float:right;color:#fff;position:absolute;right:0;top:0;padding:15px 25px}
.mobilemenu li ul{display:none;}
.mobilemenu li ul li{border-bottom:none;padding-left:0}
.mobilemenu li ul > li:last-child{padding-bottom:0}
.searchcontent .main_title h1{font-size:22px}
}
@media(max-width:770px){.nav-top-pro{width:100%}
p.text-phone{padding:10px;font-size:13px}
h2.title_home{width:100%;padding:0 15px;font-size:20px}
.foot-list{width:33.3333333%;margin:0;float:left;}
.right-main{padding:0}
p.title-datb{font-size:15px}
footer .col-sm-2,footer .col-sm-10{width:100%}
footer .col-sm-2{text-align:center;}
footer .col-sm-2 .row,footer .col-sm-2 .row .social ul{display:inline-block;}
footer .col-sm-2 .row .social li{float:left;margin-left:5px}
.nav-dls li{width:25%}
.foot-list.social{margin-top:30px;text-align:left;}
.owlnavtoppro{height:111px}
}
@media (max-width:767px){.menutoggle{margin-top:4px}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color:#fff;}
.nlmt-item{width:33.3333%;float:left;}
.ideal-cus{height:auto;min-height:107px}
.carret-bot{bottom:-8px}
.videoright{padding-right:15px;padding-left:15px}
#header{padding:5px 0}
#header .header_group #logo{margin:0;margin-top:4px;padding:5px;padding-left:15px}
#header .header_group #logo img{max-width:65px;max-height:30px;}
.mobilemenu{right:-15px}
.mobilemenu > ul{height:370px}
.viewallpro span#loc{right:5px}
.nav-big select{width:100%}
#chatfbout{width:auto}
#chatfbout > div{width:250px}
#chatfbout > span#openclosechat{width:45px;height:45px;border-radius:50%;margin-bottom:10px;margin-left:10px}
#chatfbout > span#openclosechat i{line-height:40px;font-size:20px;}
#chatfbout > span#openclosechat span{display:none;}
#phonecall{display:block;}
footer{padding-bottom:50px}
}
@media (max-width:667px){.mobilemenu > ul{height:330px}
}
@media(max-width:570px){.nlmt-item{width:50%}
.mobilemenu > ul{height:270px}
.item-catog{width:125px}
}
@media(max-width:480px){.quoteplus{height:60px}
#header .header_group{padding-left: 15px}
.titlemota{font-size:15px}
div.showall{top:auto;bottom:0}
#DATB .item{padding:0 15px}
#DATB .wrap-datb-home{margin:0;}
.item-catog{width:95px}
#news-talk .wrap-news-talk > .row{margin:0}
#solution-index .col-sm-9{padding-left:15px !important}
p.quote-solu{display:none;}
.mobilemenu > ul{height:500px}
.mobilemenu{right:0}
.nav-scroll{display:none;}
.mobilemenu{width:100%}
.container{padding:0}
.wrap-nlmt-home .row{margin:0}
#gp-r .row,.box_product .row{margin:0}
.nlmt-item{width:100%}
.phone-chat{text-align:center;}
.foot-list{width:50%;margin-right:0;float:left;}
.sub-add,.main-add{width:100%;}
.phone-chat,.text-chat{width:100%;}
#text-foot .container{padding:0 15px}
.connect{text-align:left;}
.social ul{display:inline-block;}
.social li{float:left;}
#owl-khabout .item{padding-right:0}
.info-in input{width:100%;margin-top:5px;min-height:30px}
.cm-input{border:none;padding:0}
.block_input_comment .input_comment textarea{border-bottom:1px solid #ccc}
.cus-info{display:inline-block;width:100%;padding-left:15px}
#gp-r{padding:0 15px}
#con-reg{padding:0 15px}
.wrap-navddl{margin:0}
.navigation{height:auto;padding-left:5px}
.form-ques .wrap-input{width:100% !important}
#logo{margin:0}
i.kh-r{right:0}
i.kh-l{left:0}
.back-to-top{bottom:65px}
#sidebar .list-contact{padding:0 15px}
.input_comment{padding:0}
#box_comment .css_input{width:48%;float:left;margin-right:5px;margin-top:10px}
.block_input_comment .btn_send_comment{width:100%;margin-top:10px}
.wrap-contact .list-contact{padding:0 15px;width:100%;float:left;height:auto}
.wrap-detail1 table.table tr th:last-child,.wrap-detail1 table.table tr td:last-child{display:none;}
.searchcontent .quote-news h3 a{font-size:13px}
.ideal-cus,.searchcontent .quote-news h3{margin:0}
#cus-talk{padding:0 15px}
}
@media(max-width:375px){h2.title_home{font-size:20px}
.item-catog{width:80px;}
.social ul li a img{max-width:30px}
}
@media(max-width:320px){.item-catog{width:70px}
.back-to-top{bottom:50px}
.mobilemenu > ul{height:460px}
h2.title_home{font-size:17px}
.item-catog a{font-size:13px}
.nav-top-news .item-catog{width:90px}
.item-catog a img{max-height:40px}
}