@charset "utf-8";
@font-face{font-family:'RobotoRegular';src:url('fonts/roboto-regular.eot');src:url('fonts/roboto-regular.eot') format('embedded-opentype'),
url('fonts/roboto-regular.woff') format('woff'),
url('fonts/roboto-regular.ttf') format('truetype'),
url('fonts/roboto-regular.svg#RobotoRegular') format('svg');}
@font-face{font-family:'RobotoLight';src:url('fonts/roboto-light.eot');src:url('fonts/roboto-light.eot') format('embedded-opentype'),
url('fonts/roboto-light.woff') format('woff'),
url('fonts/roboto-light.ttf') format('truetype'),
url('fonts/roboto-light.svg#RobotoLight') format('svg');}
@font-face{font-family:'RobotoBold';src:url('fonts/roboto-bold.eot');src:url('fonts/roboto-bold.eot') format('embedded-opentype'),
url('fonts/roboto-bold.woff') format('woff'),
url('fonts/roboto-bold.ttf') format('truetype'),
url('fonts/roboto-bold.svg#RobotoBold') format('svg');}
@font-face{font-family:'UTMAptimaBold';src:url('fonts/UTM AptimaBold.ttf');src:url('fonts/UTM AptimaBold.ttf') format('truetype');}
@font-face{font-family:'UTMAlterGothic';src:url('fonts/UTM Alter Gothic.ttf');src:url('fonts/UTM Alter Gothic.ttf') format('truetype');}
@font-face{font-family:'UTMAlterGothic';src:url('fonts/UTM Alter Gothic.ttf');src:url('fonts/UTM Alter Gothic.ttf') format('truetype');}
a{cursor:pointer;}
*{margin:0;}
.clear{clear:both;}

input{outline:none;}
a{text-decoration:none;}
body{line-height:1.5;font-family:'RobotoLight';font-size:14px;position:inherit !important;}
.f_left{float:left;}
.f_right{float:right;}
.sW{width:100px;display:inline-block}
.cell{//display:table-cell;//vertical-align:top;}
.container-full{float:left;width:100%}
.wrapper{width:1366px;padding:0px 0px;margin:auto;position:relative;}
#out_header{width:100%;float:left;background:rgba(255,255,255,0.7);margin-bottom:10px}
#header #top{text-align:right;height:34px;line-height:34px;color:#696969;font-size:14px;float:left;margin-top:38px;width:450px;}
#header #top #user{position:relative;}
#header #top #user .con_his{text-align:right;float:right;margin-left:5px;}
#header #top #user .con_his > li{list-style:none;display:inline;float:left;}
#header #top #user .con_his > li > a{color:#696969;font-size:14px;border-right:1px solid #696969;padding:0px 5px;}
#header #top #user .con_his > li:last-child >a{border:0px;}
#header #top #user .con_his > li.hard{position:relative;}
#header #top #user .con_his > li.hard .sub{position:absolute;top:100%;left:-2px;width:160px;text-align:left;background:#efefef;display:none;padding-bottom:10px;padding-top:5px;z-index:95;}
#header #top #user .con_his > li.hard .sub li{list-style:none;float:left;width:90%;margin-left:10px;border-bottom:1px solid #f7f7f7;}
#header #top #user .con_his > li.hard .sub li a{padding:0px 10px;color:#696969;font-size:14px;}
#header #top #user .con_his > li.hard .sub li a:hover{color:#ef4e51;}
#header #top p a{color:#696969;font-size:14px;}
#header .header_group{display:inline-block;width:100%;height:auto;position:relative;}
#header .header_group #logo{float:left;padding:0; padding-top:5px;}
#header .header_group #logo a{display: block; line-height: 0;}
#header .header_group #logo a img{vertical-align: middle;}
.header_group #slogen{float:left;text-align:center;margin-left:40px;}
.header_group #slogen h2{font-family:UTMAptimaBold;font-size:34px;color:#ff0000;text-shadow:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;text-transform:uppercase;}
.header_group #slogen h3{font-family:UTMAlterGothic;font-size:19px;text-transform:uppercase;color:#00aeef;text-shadow:2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}
.header_group #hotline{float:right;background:url(../images/hotline.png) no-repeat left center;padding-left:60px;color:#f74142;margin-right:40px;margin-top:25px;padding-top:5px;font-size:20px;line-height:22px;min-height:45px;}
#menu_top #cart{float:right;margin-top:7px;position:relative;background:#25c4ff;color:#FFF;line-height:30px;padding-left:50px;padding-right:10px;font-family:RobotoLight;font-size:12px;}
#menu_top #cart img{position:absolute;left:2px;}
#menu_top #cart span{position:absolute;border-radius:50%;border:solid 1px #1eb8f1;background:#FFF;color:#1eb8f1;width:25px;height:25px;text-align:center;line-height:25px;top:-5px;left:20px;}
#menu_top #search_form{float:right;width:130px;height:30px;line-height:30px;position:relative;background:#FFF;margin-top:7px;margin-right:5px;}
#menu_top #search_form input[type="submit"],
#menu_top #search_form input[type="button"]{position:absolute;right:5px;top:5px;background:url(../images/icon_search.png) no-repeat;border:0px;width:24px;height:24px;cursor:pointer;}
#menu_top #search_form input[type="text"]{position:absolute;left:0px;top:2px;background:none;width:85px;padding-left:10px;border:none;height:25px;color:#000;;}
#slide_show{float:left;width:100%;position:relative;}
#slide_show #support{position:absolute;right:10px;bottom:-92px;z-index:100;background:#FFF;padding-bottom:10px;transition:all 0.5s;cursor:pointer;}
#slide_show #support #arow_support{position:absolute;right:10px;top:10px;font-size:25px;color:#FFF;}
#slide_show #support table{background:#FFF;border-spacing:0px !important;width:80%;margin-left:10%;}
#slide_show #support table td{padding:0px !important;}
#slide_show #support table #name_sup{line-height:30px;font-weight:bold;}
#container{margin-top:0px;float:left;width:100%;}
.col_left{*border:1px solid #dddddd;float:left;width:230px;}
.col_main{float:left;width:700px;margin-left:27px;}
.col_right{float:left;width:223px;padding-left:10px}
.col_right ul li{margin-bottom:8px}
#container #col_left{*border:1px solid #dddddd;float:left;width:230px;}
.mod_left{margin-bottom:30px;}
.mod_left.support{border:1px solid #dadada;}
.mod_left.support .title{background:#df3438 url(../images/icon_hotline.png) no-repeat 15px 2px;margin:2px;padding:10px 0px 10px 80px;color:#FFF;font-family:'RobotoRegular';text-transform:uppercase;font-weight:bold;font-size:20px;}
ul#support{padding:20px 10px 10px 30px;}
ul#support h2{color:#df0000;font-size:14px;padding-bottom:5px;font-family:'RobotoBold';}
ul#support li{padding-bottom:10px;overflow:hidden;}
ul#support li img{float:left;margin-right:10px;}
ul#support li span{float:left;margin-top:-5px;}
.col_right ul li img{min-height:195px;}
ul#support .hotline{border-top:1px solid #d5d5d5;padding-top:10px;}
ul#support .hotline div{background:url("../images/icon_phone2.png") no-repeat scroll left center;padding-left:40px;}
ul#support .hotline span{color:#df0000;font-weight:bold;}
ul#support .hotline p{color:#df0000;font-size:17px;font-weight:bold;}
.mod_left.statistics{border:1px solid #dddddd;}
.mod_left.statistics h3{border-bottom:1px solid #dddddd;padding:15px 0px;text-align:center;font-size:16px;font-family:'RobotoBold';}
.img_qc{padding:2px;border:1px solid #dadada;}
.img_qc img{width:247px;}
.mod_left #statistics{width:165px;margin:auto;padding:16px 0px;}
.mod_left #statistics li{padding:2px 0px;}
.mod_left #statistics li span{width:100px;display:inline-block;color:#1f1f1f;font-size:14px;}
.mod_left #statistics li em{font-style:normal;font-size:14px;}
.mod_left.box-product-featured{background:#ef4e51;padding-bottom:10px;}
.mod_left.box-product-featured h3{color:#ffffff;font-size:16px;font-family:'RobotoBold';text-align:center;text-transform:uppercase;padding:20px 0px;}
#container #col_main{float:right;width:935px;}
#container #col_main .main_title{background:#f5f5f5;padding-left:10px;border:1px solid #ededed;height:32px;margin-bottom:20px;height:33px;}
#container #col_main .main_title h1{color:#454545;font-size:16px;line-height:35px;text-transform:uppercase;float:left;font-family:'RobotoBold';white-space:nowrap;}
#container #col_main .main_title .filter{float:right;}
#container #col_main .main_title .filter li .square{float:left;width:16px;height:16px;margin:8px;background:url(../images/icon/square.png) no-repeat top left;}
.filter_tab .active .square{background:url(../images/icon/square_act.png) no-repeat top left !important;}
#container #col_main .main_title .filter li .list{float:left;width:25px;height:16px;margin:8px;background:url(../images/icon/list.png) no-repeat top left;}
.filter_tab .active .list{background:url(../images/icon/list_act.png) no-repeat top left !important;}
#container #col_main .main_title .filter select{float:left;margin:4px;min-width:150px;padding:3px;margin-right:5px;border:1px solid #d5d5d5;}
#container #col_main #slide_show{margin-bottom:20px;}
ul.product > li{width:850px;height:635px;}
#organic-tabs{}
#explore-nav{float:left;width:100%;margin-bottom:15px;}
#explore-nav li{width:auto;float:left;margin:0 10px 0 0;}
#explore-nav li.last{margin-right:0;}
#tab2, #tab3, #tab4{display:none;}
.show_pro #box_sp{*background:#7ed5f5;border:1px solid #7ed5f5;}
#box_sp{width:212px;height:300px;border:1px solid #dddddd;float:left;position:relative;margin-left:25px;margin-bottom:20px;}
.box0{margin-left:0px !important;}
#box_sp .img{display:table-cell;vertical-align:middle;width:212px;height:212px;position:relative;overflow:hidden;text-align:center;}
#box_sp .img img{max-width:202px;max-height:202px;transition:all 0.5s;position:relative;z-index:1;}
#box_sp .mota{float:left;width:100%;text-align:center;margin-top:10px;font-family:'RobotoBold';}
#box_sp img.new_icon{position:absolute;top:0px;right:0px;z-index:2;}
#box_sp .sale_icon{position:absolute;top:10px;left:10px;z-index:2;}
#box_sp .sale_icon span{position:absolute;top:15px;left:0;color:white;width:100%;text-align:center;}
#box_sp a.title{font-size:14px;color:#404040;line-height:1.3;}
#box_sp a.title:hover{color:#F00;}
#box_sp p.price{color:#d82227;font-size:16px;}
p.title-slide{position:absolute;bottom:0;background:rgba(0,0,0,0.3);width:100%;padding:15px;color:#fff;font-weight:bold;}
#mask_boxhot{width:100%;height:100%;background:rgba(0,174,239,0.5);position:absolute;top:0;transition:all 0.5s;opacity:0;z-index:20;}
#mask_boxhot a:nth-child(1){position:absolute;top:40.5%;left:25%;}
#mask_boxhot a:nth-child(2){position:absolute;top:40.5%;right:25%;}
#detail_in{border-radius:50%;width:60px;height:60px;position:absolute;z-index:15;top:38%;left:38%;background:#333;background:rgba(0,0,0,0.6);transition:all 0.5s;opacity:0;-webkit-transform:scale(2);-moz-transform:scale(2);-ms-transform:scale(2);-o-transform:scale(2);transform:scale(2);}
#detail_in a{display:table-cell;vertical-align:middle;text-align:center;width:60px;height:60px;color:white;font-size:12px;font-family:Roboto}
#box_sp:hover #mask_boxhot{opacity:1;}
#box_sp:hover #detail_in{opacity:1;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
#slide_partner{float:left;width:100%;border-top:solid 1px #DDD;padding-top:20px;padding-bottom:20px;}
.partner{position:relative;}
.partner .jcarousel-skin-tango{margin-left:15px;}
.partner{float:left;}
.partner ul li{float:left;height:115px;width:250px;}
.partner h3{background:#FFF;border:1px solid #ddd;width:120px;height:37px;line-height:37px;text-align:center;font-size:14px;text-transform:uppercase;position:absolute;top:-22px;left:45%;z-index:999;}
#solution-index .col-sm-9{padding-left:0}
.navigation{font-family:'RobotoRegular';height:30px;*line-height:35px;margin-bottom:10px;}
.navigation *{color:#4E4E4E;font-size:14px;}
.navigation #muiten{padding:0px 10px;font-size:18px;width:8px;height:8px;background:url(../images/icon/arrow3.png) no-repeat;background-position:5px 10px;}
.pro_list,
.pro_square{width:935px;}
.box_product .pro_list > li{height:180px;border:1px solid #ededed;margin-bottom:20px;position:relative;}
.box_product .pro_list > li > a{float:left;width:200px;height:160px;margin-left:20px;margin-top:10px;text-align:center;}
.box_product .pro_list li > a > img{max-width:200px;max-height:150px;}
.box_product .pro_list li .mota{float:left;width:510px;margin-top:20px;margin-left:50px;}
.box_product .pro_list li .mota .title{color:black;font-family:'RobotoLight';font-size:15px;}
.box_product .pro_list li .new_icon{position:absolute;top:5px;left:21%;}
.box_product .pro_list li .sale_icon{position:absolute;top:5px;left:1%;}
.box_product .pro_list li .sale_icon span{position:absolute;top:15px;left:0;color:white;width:100%;text-align:center;}
.box_product .pro_list li .mota .noidung{font-family:'RobotoRegular';font-weight:12px;float:left;width:100%;}
.box_product .pro_list li .mota .noidung *{font-size:14px;font-family:'RobotoLight';}
.box_product .pro_list li .price{color:red;}
.box_product .pro_list li .price del{color:#b5b5b5;margin-left:20px;}
.box_product .pro_list li .color_con img.color{border:1px solid rgba(0,0,0,0);}
.box_product .pro_list li .color_con img.select{border:1px solid #9b9b9b;}
.box_product .pro_list li .order{float:left;padding:5px 20px;background:#00AEEF;color:white;margin-top:10px;font-family:'RobotoLight';font-size:14px;}
.pro_square > li{width:212px;height:300px;float:left;border:1px solid #dedede;margin-left:25px;margin-bottom:20px;position:relative;*background:#7ed5f5;}
.pro_square .first{margin-left:0px;}
.pro_square .last{margin-right:0px;}
.pro_square li .new_icon{position:absolute;top:5px;right:5px;z-index:5;}
.pro_square li .sale_icon{position:absolute;top:5px;left:5px;z-index:5;}
.pro_square li .sale_icon span{position:absolute;top:15px;left:0;color:white;width:100%;text-align:center;}
.pro_square li .img{display:table-cell;vertical-align:middle;width:212px;height:212px;position:relative;overflow:hidden;text-align:center;}
.pro_square li .img img{max-width:202px;max-height:202px;transition:all 0.5s;position:relative;z-index:1;}
.pro_square li .mota{overflow:hidden;float:left;width:100%;text-align:center;font-family:'RobotoBold';}
.pro_square li .mota a{color:black;font-size:15px;}
.pro_square li .mota p{color:#dd3f44;}
.pro_square li #mask_boxhot{width:100%;height:100%;background:rgba(0,174,239,0.5);position:absolute;top:0;transition:all 0.5s;opacity:0;z-index:20;}
.pro_square li #mask_boxhot a:nth-child(1){position:absolute;top:40.5%;left:25%;}
.pro_square li #mask_boxhot a:nth-child(2){position:absolute;top:40.5%;right:25%;}
.pro_square li:hover #mask_boxhot{opacity:1;}
.pro_square li #detail_in{border-radius:50%;width:60px;height:60px;position:absolute;z-index:15;top:38%;left:38%;background:#333;background:rgba(0,0,0,0.6);transition:all 0.5s;opacity:0;-webkit-transform:scale(2);-moz-transform:scale(2);-ms-transform:scale(2);-o-transform:scale(2);transform:scale(2);}
.pro_square li #detail_in a{display:table-cell;vertical-align:middle;text-align:center;width:60px;height:60px;color:white;font-size:12px;font-family:Roboto}
.pro_square li .img:hover #mask_boxhot{opacity:1;}
.pro_square li #mask_boxhot:hover #detail_in{opacity:1;-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);}
.pro_square li .img:hover img{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);z-index:5;position:relative;}
#adver_mid{float:left;width:100%;}
#adver_mid #mid1{float:left}
#adver_mid #mid1 img{width:861px;height:174px}
#adver_mid #mid2{float:right}
#adver_mid #mid2 img{width:416px;height:174px;}
#contents{float:left;width:100%;height:auto;margin-top:25px;}
#contents #ct_left{float:left;width:850px;}
#ct_left #box_product{float:left;height:auto;width:100%;}
#title_pro{float:left;width:100%;position:relative;margin-bottom:15px;background:#06b0ef;}
#title_pro h3{float:left;font-family:RobotoBold;font-size:16px;color:#00aeef;padding:10px}
#title_pro a{float:right;margin-left:10px;font-family:RobotoRegular;font-size:14px;color:#fff;white-space:nowrap;text-transform:uppercase;}
#title_pro a.viewall{font-family:RobotoBold}
#contents #ct_right{float:right;width:230px;height:auto}
#ct_right #news{float:left;width:100%;}
#news h4{float:left;width:100%;text-align:right;}
#news h4 a{font-family:RobotoRegular;font-size:13px;color:#444444}
#news h4 a:hover{color:#de0000}
#ct_right #news #ct_news{}
#news ul{width:100%;float:left;}
#news ul li{float:left;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:#b2b2b2;margin-bottom:10px;width:100%;height:75px;}
#news ul li #img{float:left;width:60px;height:60px;transition:all 0.2s;border:solid 1px #cacaca;padding:2px;}
#news ul li #img:hover{-webkit-box-shadow:1px 1px 6px 0px rgba(50, 50, 50, 0.75);-moz-box-shadow:1px 1px 6px 0px rgba(50, 50, 50, 0.75);box-shadow:1px 1px 6px 0px rgba(50, 50, 50, 0.75);}
#news ul li img{float:left;width:60px;height:60px;}
#news ul li a{font-family:RobotoRegular;font-size:13px;color:#444444;margin-left:10px;float:left;width:60%;}
#news ul li a:hover{color:#de0000;}
#ct_right #adver_right{float:left;width:100%;margin-top:15px;}
#ct_right #ct_adver{float:left;width:100%;}
#adver_right #sroll_adver{height:545px;width:100%;overflow:hidden;}
#adver_right #sroll_adver #top{width:100%;height:545px;overflow:hidden;padding:0px;clear:both;overflow:hidden;}
#adver_right #sroll_adver #top img{width:100%;clear:both;margin-top:10px !important;}
#adver_end{margin-top:20px;}
#adver_end1{float:left;}
#adver_end2{float:left;margin-left:15px}
#adver_end3{float:right;}
#nav_footer{float:left;background:#00aeef;width:100%;border-bottom:solid 1px #9ee0f9;text-align:center;padding-top:5px;padding-bottom:0px;}
#nav_footer ul li{display:inline-block;line-height:40px;}
#nav_footer ul li a{color:#FFF;font-family:RobotoBold;font-size:14px;text-transform:uppercase;padding:0px 15px 10px 15px;white-space:nowrap;}
#nav_footer ul li a:hover{border-bottom:solid 2px #FFF;}
#nav_footer ul li a i{font-size:20px;}
#tag_footer{float:left;width:100%;background:#00aeef;padding:25px 0px;color:#FFF;border-bottom:solid 1px #9ee0f9;}
#tag_footer a{color:#FFF;font-family:RobotoLight;line-height:20px;}
#tag_footer a:hover{color:#000;}
#info_footer{float:left;width:100%;background:#00aeef;padding:20px 0px 40px 0;}
#info_footer .col-left{float:left;color:#FFF;}
#info_footer .col-right{float:right;color:#FFF;}
#info_footer a{color:#FFF;}
#loader-img{position:fixed;top:50%;left:50%;z-index:999999;width:40px;height:auto;}
.voted,
.vote{display:none;}
.rate{width:70px;margin:auto;}
.notification{display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:99999;}
.notification > div{position:fixed;top:35%;left:37%;width:340px;height:100px;background:#fff;color:#444444;padding:20px 20px;text-align:center;border-radius:5px;box-shadow:1px 1px 5px rgba(100,100,100,0.5), 1px 1px 10px rgba(100,100,100,0.5);}
#wanning div{height:60px;color:#444444;padding:20px 20px;text-align:center;}
.notification > div a.note_close,
.notification > div a.note_ok,
.notification > div a.note_cencel,
#wanning a.note_ok,
#wanning a.note_cencel{position:absolute;bottom:20px;left:45%;background:#007de4;border:1px solid #014d8c;color:white;padding:3px 10px;border-radius:3px;}
.notification > div a.note_ok,
#wanning a.note_ok{left:38%;display:inline-block;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top,#d8243c,#cc1830);background-image:-webkit-gradient(linear,0 0,0 100%,from(#d8243c),to(#cc1830));background-image:-webkit-linear-gradient(top,#d8243c,#cc1830);background-image:-o-linear-gradient(top,#d8243c,#cc1830);background-image:linear-gradient(to bottom,#d8243c,#cc1830);background-repeat:repeat-x;border-color:#cc1830 #cc1830 #cc1830;border-color:#cc1830;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);}
#wanning a.note_ok{left:45%;}
.notification > div a.note_cencel,
#wanning a.note_cencel{left:53%;display:inline-block;padding:4px 12px;margin-bottom:0;font-size:14px;line-height:20px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border:1px solid #bbb;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border-bottom-color:#a2a2a2;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);}
.notification > div a:hover{}
.register_success_body{font-family:'RobotoRegular';}
.building{float:left;width:100%;border:solid 1px #d3f3ff;margin-top:0;padding-bottom:6px;}
.building h2{margin-bottom:15px;line-height:36px;font-family:RobotoBold;font-size:14px;color:#FFF;text-transform:uppercase;text-align:left;background:#06b0ef;}
.building .con_building .list{padding:5px 10px;}
.building .con_building .list h4{font-family:"RobotoRegular";font-weight:normal;}
.building .con_building .list a img{float:left;margin-right:8px;margin-top:4px;}
.building .con_building .list a.skype img{margin-top:0px;}
.building .con_building .hotline{border-top:1px solid #06b0ef;padding:5px 5px 0px 10px;margin:5px 5px 0px 10px;}
.building .con_building .hotline div{background:url("../images/icon_phone2.png") no-repeat scroll left center;padding-left:40px;}
.building .con_building .hotline span{color:#df0000;font-family:"RobotoBold";}
.building .con_building .hotline p{color:#df0000;font-size:17px;font-family:"RobotoBold";}
.box_slide_build{float:left;width:100%;}
.box_slide_build #box_build{float:left;width:92%;margin:10px 3% 14px 3%;background:#FFF;padding:3px 3px 5px 3px;}
.box_slide_build #box_build img{width:211px;height:160px;padding-bottom:10px;}
.box_slide_build #box_build a:nth-child(2){font-family:RobotoBold;font-size:14px;color:#00aeef;text-transform:uppercase;display:block;width:100%;text-align:center;}
.box_slide_build #box_build a:nth-child(2):hover{color:red;}
.slide_build li{width:230px;height:1787px;}
.slide_build .jcarousel-skin-tango .jcarousel-container-horizontal{width:230px !important;height:1515px !important;}
.slide_build .jcarousel-skin-tango .jcarousel-clip-horizontal{height:1515px !important;width:230px !important;}
.slide_build .jcarousel-skin-tango .jcarousel-next-horizontal{background:transparent url(../images/ne_left.png) !important;top:-43px !important;right:3px !important;}
.slide_build .jcarousel-skin-tango .jcarousel-prev-horizontal{background:transparent url(../images/pre_left.png)!important;top:-43px !important;right:30px !important;left:auto !important;}
#all-list-wrap{float:left;width:100%;}
#all-list-wrap ul.product > li{width:935px;height:1021px;}
#all-list-wrap .jcarousel-skin-tango .jcarousel-container-horizontal{width:935px !important;height:970px !important;}
#all-list-wrap .jcarousel-skin-tango .jcarousel-clip-horizontal{height:970px !important;width:935px !important;}
#all-list-wrap .jcarousel-skin-tango .jcarousel-next-horizontal{top:-51px !important;right:5px !important;}
#all-list-wrap .jcarousel-skin-tango .jcarousel-prev-horizontal{top:-51px !important;right:30px !important;left:auto !important;}
.img_doitac{width:198px;height:71px;}
#mycarousel22 .owl-controls,
#mycarousel11 .owl-controls{position:absolute;top:-45px;right:0;}
#mycarousel22 .owl-controls i,
#mycarousel11 .owl-controls i{color:#fff;width:30px;background:#00aeef;border-radius:50%;border:1px solid #00aeef;}
.title_tintuc{float:left;width:99%;padding-left:10px;line-height:36px;font-family:RobotoBold;font-size:14px;color:#FFF;text-transform:uppercase;text-align:left;background:#06b0ef;margin-bottom:15px;}
#explore-nav{background:#06b0ef;}
#explore-nav li a{background:#06b0ef;padding-left:10px;line-height:36px;font-family:RobotoBold;font-size:14px;color:#FFF;}
.slide_tintuc{float:left;width:600px;border:1px solid #ddd;}
.tintucmoi{float:left;margin-bottom:10px;}
.list_tintuc{float:left;width:333px;}
.list_tintuc .news-item{float:left;width:100%;margin-bottom:11.5px;padding-left:10px;}
.list_tintuc .news-item:last-child{margin-bottom:0px;}
.list_tintuc li img{float:left;border:2px solid #dddddd}
.list_tintuc li p{float:left;width:72%;padding-left:10px}
.img-news1 img{width:100% !important}
.quote-news h3 a{font-family:"robotobold";font-size:16px;text-decoration:none;color:#333}
.header{ height: auto !important; }
@media(max-width: 1024px){
    #header{ padding: 10px; }
    #header .header_group #logo{
        padding: 0;
    }
    .menutoggle {
        cursor: pointer;
      margin-right: 0;
      margin-top: 5px;
    }
    p.text-phone,
    #text-foot p{ margin-bottom:0; }
    #phonecall{
        left:15px;
        bottom:15px;
    }
}

#sidebar-sticky-wrapper {
	height: auto !important;
}

#solution-index {
	min-height: 1500px;
}